.hide-class{
	display: none;
}
.clear{
	clear: both;
}
#map{
	height: 300px;
	width: 45vw;
	margin: 0 auto;
}
.note-editing-area{
	margin-top: 15px !important;
}

.youtube_link{
	display: none;
}

.pac-card {
	margin: 10px 10px 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	font-family: Roboto;
}
#pac-input {
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	padding: 0 11px 0 13px;
	text-overflow: ellipsis;
	width: 300px;
	height: 35px;
	border-radius: 2px 0 0 2px;
	border:none;
}

#pac-input:focus {
	border-color: #4d90fe;
}