@font-face{
	src:url('../fonts/devinne-regular.ttf');
	font-family: 'devinne';
}
@font-face{
	src:url('../fonts/CircularStd-Bold.otf');
	font-family: 'Circular';
}
@font-face{
	src:url('../fonts/georgia.ttf');
	font-family: 'Georgia';
}
@font-face{
	src:url('../fonts/Verlag-Bold.otf');
	font-family: 'VerlagBold';
}
@font-face{
	src:url('../fonts/Verlag-light.otf');
	font-family: 'VerlagLight';
}
@font-face{
	src:url('../fonts/Verlag-Book.otf');
	font-family: 'VerlagBook';
}
/*--geofonts--*/
@font-face{
	src:url('../fonts/PantonMtav3-Regular.otf');
	font-family: 'mtavRegular';
}
@font-face{
	src:url('../fonts/bpg-nino-mtavruli-webfont.ttf');
	font-family: 'ninoMtavruli';
}
@font-face{
	src:url('../fonts/PantonMtav3-ExtraBold.otf');
	font-family: 'mtavExtraBold';
}
@font-face{
	src:url('../fonts/GAdzen-Regular.otf');
	font-family: 'gadzen';
}
@font-face{
	src:url('../fonts/bpg_phone_sans.ttf');
	font-family: 'phoneSans';
}
@font-face{
	src:url('../fonts/bpg_phone_sans_bold.ttf');
	font-family: 'phoneSansBold';
}
@font-face{
	src:url('../fonts/bpg_phone_sans_italic.ttf');
	font-family: 'phoneSansItalic';
}
@font-face{
	src:url('../fonts/bpg_phone_sans_bold_italic.ttf');
	font-family: 'phoneSansBoldItalic';
}
@font-face{
	src:url('../fonts/bpg-mrgvlovani-webfont.ttf');
	font-family: 'bpgMrgvlovani';
}
