@keyframes slideDown{
	0%{
		top: -100%;
	}
	100%{
		top: 0;
	}
}
@keyframes hoversoc{
	0%{
		background-color: rgba(214, 214, 214, 0.2901960784313726);
	}
	100%{
		background-color: transparent;
	}
}
@keyframes shadow{
	0%{
		box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	}
	50%{
		box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
	}
	100%{
		box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
	}
}
body{
	margin: 0;
	overflow-x: hidden;
}
*{
	outline: none;
	background-repeat: no-repeat;
}
.switch a,
.park_detail a,
.bottom_nav ul li a,
.top_nav .langBtn a,
.top_nav .logBtn,
.top_nav .arroud_me,
.nav_bar ul li a{
	color: #fff;
}
.img-margin-bottom{
	margin-bottom: 5px;
}
.my-suggestions-input{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}

.load-more{
	font-weight: bold;
	margin: 35px auto 0 auto;
    background-color: #e53c40;
    width: 160px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-family: 'VerlagBook';
    text-align: center;
    text-transform: uppercase;
    z-index: 3;
    transition: .2s;
    cursor: pointer;
    margin-bottom: 35px;
}
.load-more:hover{
    background-color: #d8383b;
}
.empty_header{
    font-size: 40px;
    color: #000;
    font-family: 'Devinne';
    text-align: center;
    padding: 15px;
}
.main-site-loader{
	position: fixed;
	z-index: 55555;
	width: 100%;
	height: 100vh;
	background: #fff;
}
.main-site-loader .logo{
	height: 80px;
	text-align: center;
	margin-bottom: 30px; 
}
.main-site-loader .logo img{
	user-select: none;
	height: 100%;
}
.main-site-loader .gif{
	user-select: none;
	width: 225px;
}
button,
input{
	border:none;
}
ul{
	list-style-type: none;
	padding: 0;
}
a,
a:hover,
a:focus,
a:visited{
	/*color: #222;*/
	text-decoration: none;
}
h1,h2,h3,h4,h5{
	margin: 0;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}
.center{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	        transform: translate3d(-50%,-50%,0);
}
.loaderDotCont{
	width: 140px;
	height: 140px;
}
.loaderDotCont .dot{
	fill:#fff;
	display: none;
}
.parks_list .devinne li{
	display: none;
}
.parks_list .devinne li.show{
	display: block;
}
.center-y{
	top: 50%;
	transform: translateY(-50%);
}
.center-x{
	left: 50%;
	transform: translateX(-50%);
}
.no-after::after{
	display: none!important;
}
.o-hidden{
	overflow: hidden;
}
.ellipsis{
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
}
.no-margin{
	margin: 0;
}
.no-padding{
	padding: 0;
}
.block{
	display: block;
}
.none{
	display: none!important;
}
.flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.flex-s{
	display: flex;
	justify-content: flex-start;
}
.w-50-per{
	width: 50%;
}
.w-title-ex,
.w-title{
	font-size: 60px;
	color: #fff!important;
	font-family: 'Devinne';
}
.b-title{
	font-size: 60px;
	color: #000;
	font-family: 'Devinne';
}
.grn-title{
	text-transform: uppercase;
	font-size: 20px;
	margin-bottom: 20px;
	font-family: 'VerlagBold';
	color: #187946;
}
.blck-title,
.ex-w-title,
.y-title{
	font-size: 40px;
	font-family: 'VerlagBold';
	text-transform: uppercase;
}
.y-title{
	color: #fcde13;
}
.ex-w-title{
	color: #fff;
}
.blck-title{
	color: #333;
}
/*---fonts---*/
.InfoWindow,
.aroundmePins,
.mappInfoWindows_a,
.devinne{
	font-family: 'devinne';
}
.circular{
	font-family: 'Circular';
}
.georgia{
	font-family: 'Georgia';
}
.verlag{
	font-family: 'VerlagBook';
}
.verlagB{
	font-family: 'VerlagBold';
}
.verlagL{
	font-family: 'VerlagLight';
}
.t-up{
	text-transform: uppercase;
}
.t-cp{
	text-transform: capitalize;
}
.t-left{
	text-align: left;
}
.t-right{
	text-align: right;
}
.t-8-px{
	font-size: 8px;
}
.t-12-px{
	font-size: 12px;
}
.t-14-px{
	font-size: 14px;
}
.t-16-px{
	font-size: 16px;
}
.t-18-px{
	font-size: 18px;
}
.t-20-px{
	font-size: 20px;
}
.t-30-px{
	font-size: 30px;
}
.t-25-px{
	font-size: 25px;
}
.t-40-px{
	font-size: 40px;
}
.t-50-px{
	font-size: 50px;
}
.t-60-px{
	font-size: 60px;
}
.t-wht{
	color: #fff;
}
.t-gry{
	color: #ccc;
}
.t-blck{
	color: #000!important;
}
.t-yllw{
	color: #fcde13;
}
.t-grn{
	color: #187946;
}
.m-15-tb{
	margin-top: 15px;
	margin-bottom: 15px;
}
.m-40-r{
	margin-right: 40px;
}
.m-0-auto{
	margin: 0 auto;
}
.m-0{
	margin: 0!important;
}
.p-15-tb{
	padding-top: 15px;
	padding-bottom: 15px;
}
.p-10-tb{
	padding-top: 10px;
	padding-bottom: 10px;
}
.p-20-tb{
	padding-top: 20px;
	padding-bottom: 20px;
}
.m-b-sm{
	margin-bottom: 10px;
}
.m-30-b{
	margin-bottom: 30px;
}
.m-15-b{
	margin-bottom: 15px!important;
}
.m-10-b{
	margin-bottom: 10px;
}
.m-15-r{
	margin-right: 15px;
}
.m-5-r{
	margin-right: 5px;
}
.m-5-b{
	margin-bottom: 5px!important;
}
.b-gry{
	border-color: #ccc!important;
}
/*---fonts end---*/
/*---background colors---*/
.drk-wht{
	background-color: #f4f4f4;
}
.lght-gry{
	background-color: #666666;
}
.ex-gry{
	background-color: #333333; 
}
.gry{
	background-color: #1a1a1a;
}
.drk-gry{
	background-color: #1a1a1a;
}
.blck{
	background-color: #000000;
}
.yllw{
	background-color: #ffce00;
}
.rd{
	background-color: #fa5654;
}
.drk-rd{
	background-color: #e53c40;
}
.grn{
	background-color: #8cc541;
}
.bl{
	background-color: #41b1e2;
}
.wht{
	background-color: #fff;
}
/*---background colors end---*/
/*---switchBtn---*/
.switch{
	width: 300px; 
	height: 45px;
	transition: .2s;
	background-color: #666666;
	border:2px solid #666666;
	border-radius: 25px;
	font-family: 'Circular';
	font-size: 12px;
	position: relative;
	cursor: pointer;
}
.switch .activeBg{
	width: 50%;
	height: 100%;
	background-color: #333333;
	position: absolute;
	border-radius: 25px;
	transition: .2s;
	left: 0%;
}
.switch .switch-case{
    width: 49%;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
    position: relative;
    color: #ccc;
    text-overflow: ellipsis;
    overflow: hidden;
}
.switch .switch-case.active-case{
	color: #fff;
}
/*---switchBtn end---*/
/*---sortBtn---*/
.sortBtn{
	width: 220px;
	min-height: 45px;
	border-radius: 30px;
	background-color: #fff;
	color: #000;
	font-family: 'Circular';
	font-size: 12px;
	position: relative;
	cursor: pointer;
	z-index: 2;
	margin-bottom: 10px;
}
.sortBtn::after{
	content: '';
	position: absolute;
	width: 12px;
	height: 8px;
	right: 25px;
	top: 20px;
	background:url('../img/icons/arrow-down-black.png') no-repeat;
	background-position: center;
}
.sortBtn .sort_label{
	line-height: 45px;
	padding-left: 25px;
	padding-right: 30px;
	user-select: none;
	position: relative;
	z-index: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sortBtn .sort_list{
	max-height: 400px;
	position: absolute;
	background-color: #fff;
	width: 100%;
	display: none;
	top: 0;
	border-radius: 30px;
	padding-top: 45px;
	padding-bottom: 20px;
	overflow: hidden;
}
.sortBtn.open .sort_list{
	display: block;
}
.sortBtn.open{
	z-index: 3;
}
.sortBtn .sort_list li{
	opacity: .9;
	transition: .2s;
	padding-left: 25px;
	line-height: 20px;
	margin-bottom: 10px;
}
.sortBtn .sort_list li:hover{
	opacity: 1;
}
/*---sortBtn end---*/
/*---range---*/
.nstSlider{
	width: 100%;
	height: 5px;
	background-color: #666666;
}
.nstSlider .bar{
	top: 0;
	height: 5px;
	background-color: #fcde13;
}
.nstSlider .leftGrip, 
.nstSlider .rightGrip{
	width: 15px;
	height: 15px;
	top: -100%;
	background-color: #fcde13;
}
/*---range end---*/
/*---scrollbar---*/
.mCS-light-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
	background-color: #666666;
	width: 12px;
	border:2px solid #eeeeee;
}
.mCS-light-theme.mCSB_scrollTools .mCSB_draggerRail{ 
	background-color: #eeeeee;
	width: 12px;
} 
.mCS-dark-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
	background-color: #333333;
	width: 12px;
	border:2px solid #666666;
}
.mCS-dark-theme.mCSB_scrollTools .mCSB_draggerRail{ 
	background-color: #666666;
	width: 12px;
} 
.mCS-red-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ 
	background-color: #e53c40;
	width: 12px;
	border:2px solid #fa5654;
}
.mCS-red-theme.mCSB_scrollTools .mCSB_draggerRail{ 
	background-color: #fa5654;
	width: 12px;
}
/*---scrollbar end---*/
/*---rating stars---*/
.rating-stars ul{
	user-select: none;
	margin-bottom: 0;
}
.rating-stars ul > li.star {
	display:inline-block;
}
.rating-stars ul > li.star > .s-i {
	width: 18px;
	height: 18px;
	display: block;
	cursor: pointer;
	background-image: url('../img/icons/star-empty.png');
	background-position: center;
	background-size: contain;
}
.rating-stars ul[data-ranked] > li.star > .s-i{
	cursor: default;
}
.rating-stars ul > li.star.hover > .s-i{
	background-image: url('../img/icons/star-selected.png');
}
.rating-stars ul > li.star.selected > .s-i{
	background-image: url('../img/icons/star-selected.png');
}
/*---rating stars end---*/
/*---direction window---*/
.direction_window{
	position: absolute;
	max-width: 430px;
	/*height: 220px;*/
	z-index: 2;
	bottom: 0;
	left: 0;
	padding: 30px 20px 20px 20px;
}
.direction_window._ex{
	background-color: #000;
}
.direction_window .from_field{
	width: 100%;
    padding: 15px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #5f5f5f;
    margin-bottom: 10px;
	font-family: 'Georgia';
}
.direction_window .from_field option{
	color: #000;
}
.direction_window .yllwBtn{
	float: right;
	margin-top: 10px;
	min-width: 40%;
}
.direction_window .from_radio{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.direction_window .radio_container{
	position: relative;
	display: block;
	padding-left: 35px;
	cursor: pointer;
	user-select: none;
	color: #fff;
	font-family: 'VerlagBold';
	line-height: 30px;
}
.direction_window .radio_container input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.direction_window .radio_container .checkmark{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-position-x:center; 
	background-image: url('../img/icons/directions.png');
}
.direction_window .radio_container input:checked ~ .checkmark{
	background-image: url('../img/icons/directions-grn.png');
}
.direction_window .radio_container.active{
	color: #187946;
}
.direction_window .radio_container .checkmark.for_foot{
	background-position-y:4px; 
}
.direction_window .radio_container .checkmark.for_car{
	background-position-y:-45px; 
}
.direction_window .radio_container .checkmark.for_bus{
	background-position-y:-90px; 
}
.direction_window .radio_container .checkmark.for_train{
	background-position-y:-145px; 
}
/*---direction window end---*/
.map{
	width: 100%;
	height: 100%;
}
#park_in_page{
	width: calc( 100% - 50px );
	height: 100%;
}
.map.hu{
	width: calc(100% - 50px);
	height: calc(100% - 80px);
}
.photo{
	overflow:hidden;
}
.photo img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.web-container{
	max-width: 1560px;
	margin: 0 auto;
}
.slogan{
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	width: 80%;
	transform: translate3d(-50%,-50%,0);
}
.slogan h2{
	font-size: 70px;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	margin-bottom: 80px;
}
.hideText{
	/*overflow: hidden;*/
    margin-bottom: 30px;
}
.intro_section .seasons button{
	float: left;
	margin-top: 20px!important;
}
.flightInfoWindow,
.parkInfoWindow{
	font-family: 'verdana','roboto';
}
.parkInfoWindow h3{
	font-family: 'VerlagBold'!important;
}
.intro_section .seasons button,
.park_overview .dscrb .yllwBtn,
.yllwBtn,
.rMoreBtn{
	font-family: 'VerlagBold';
	font-size: 16px;
	color: #fff;
	border:5px solid #fff;
	text-transform: uppercase;
	transition: .2s;
	padding:10px 15px;
	display: block;
	text-align: center;
	margin: 0 auto;
	background-color: transparent;
}
.intro_section .seasons button:hover,
.park_overview .dscrb .yllwBtn,
.yllwBtn:hover,
.rMoreBtn:hover{
	color: #fcde13;
	border:5px solid #fcde13;
}
.park_overview .dscrb .yllwBtn{
	float: left;
}
.f_on_map:active,
.f_on_map:visited,
.f_on_map:hover,
.f_on_map{
	color: #000;
}
.f_on_map{
	font-family: 'Devinne';
	transition: .2s;
	padding: 5px 5px 5px 35px; 
	background-image: url(../img/icons/pin-b.png);
	background-size: 22px;
	background-position: left center;
}
.f_on_map:hover{
	text-decoration: underline;
}
.place_view_map{
	height: 300px;
	margin-bottom: 30px;
}
.adv_map,
.arround_me_map,
.how_to_get_here_map,
.adventure_map,
.overview_map{
	height: 700px;
	position: relative;
}
.overview_map .planYourTrip{
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	background-color: #e53c40;
	width: 160px;
	height: 50px;
	color: #fff;
	font-family: 'VerlagBook';
	text-align: center;
	text-transform: uppercase;
	line-height: 50px;
	z-index: 3;
	transition: .2s;
}
.height_range{
	background-color: #000;
	position: absolute;
	height: 100%;
	right: 0;
	z-index: 2;
	width: 50px;
}
.height_range .box{
	width: 100%;
	height: 100%;
	position: relative;
}
.height_range .box .dots{
	height: 94%;
	width: 10px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.height_range .box .dots::before,
.height_range .box .dots::after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fcde13;
	left: 0;
}
.height_range .box .dots::before{
	top: 0;
}
.height_range .box .dots::after{
	bottom: 0;
}
.height_range .box .dots .dot{
	width: 5px;
    height: 5px;
    background-color: #fcde13;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    display: block;
}
.height_range .box .dots .dot.active{
	width: 10px;
	height: 10px;
	margin: 0 auto;
	background-color: transparent;
	border: 2px solid #fcde13;
	border-radius: 50%;
}
.height_range .box .dots .dot .val{
	background-color: #3b3b3b;
    width: 65px;
    height: 65px;
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    flex-direction: column;
    justify-content: center;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    display: none;
    box-shadow: -2px 4px 15px rgba(0,0,0,0.5)
}
.height_range .box .dots .dot .val::after{
	content: '';
	width: 15px;
	height: 15px;
	position: absolute;
	right: -5px;
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	background-color: #3b3b3b;
	z-index: -1;
}
.height_range .box .dots .dot.active .val{
	display: flex;
}
.height_range .box .dots .dot .val .number{
	font-size: 24px;
	display: block;
}
.height_range .box .dots .dot .val .unit{
	font-size: 10px;
	display: block;
}
.overview_map .planYourTrip:hover{
	background-color: #d8383b;
}
.choose_location_map,
.index_bott_map{
	height: 560px;
}
.my_ticket_map,
.my_places_map{
	height: 500px;
}
.adventures-map{
	height: 740px;
	position: relative;
}
.park_map{
	position: relative;
}
.adventures-map .height_range{
    height: 90%;
    bottom: 0;
}
.adventures-map .height_range .box .dots{
	height: 98%;
}
.ex-row{
	margin-left: -5px;
	margin-right: -5px;
}
.mem_opt .chs_file,
.rd_btns::after,
.ex-row::after{
	content: '';
	display: block;
	clear: both;
}
.p-0{
	padding: 0!important;
}
.p-0-lr{
	padding-left: 0px;
	padding-right: 0px;
}
.p-5-tb{
	padding-top: 5px;
	padding-bottom: 5px;
}
.p-5-lr{
	padding-left: 5px;
	padding-right: 5px;
}
.p-20-l-r{
	padding-left: 20px;
	padding-right: 20px;
}
.p-15-l{
	padding-left: 15px;
}
.p-15-lr{
	padding-left: 15px;
	padding-right: 15px;
}
.m-20-t{
	margin-top: 20px;
}
.m-40-t{
	margin-top: 40px;
}
.m-40-b{
	margin-bottom: 40px;
}
.m-20-b{
	margin-bottom: 20px;
}
.p-50-lr{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.p-50-l{
	padding-left: 50px;
}
.seasons span.spring,
.seasons span.summer,
.seasons span.autumn,
.seasons span.winter{
	font-size: 16px;
	font-family: 'circular';
	color: #000;
	background-size: 20px;
	margin-right: 10px;
	padding-left: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-position-x: left;
	text-transform: capitalize;
	background-image:url('../img/icons/seasons-b.png');
}
.seasons span.spring{
	background-position-y:-70px;
}
.seasons span.summer{
	background-position-y:3px;
}
.seasons span.autumn{
	background-position-y:-23px;
}
.seasons span.winter{
	background-position-y:-47px;
}
.s-spring,
.s-summer,
.s-fall,
.s-winter{
	background-image:url('../img/icons/seasons-gry.png');
	background-size: 30px;
}
.s-spring{
	background-position-y:-110px; 
}
.s-summer{
	background-position-y:0px; 
}
.s-fall{
	background-position-y:-38px;
 }
.s-winter{
	background-position-y:-75px; 
}
.adults-i{
	background-image: url(../img/icons/adults-i.png);
	background-position-x:17px; 
}
.family-i{
	background-size: 45px;
	background-image: url(../img/icons/family-i.png);
}
.group-i{
	background-image: url(../img/icons/group-i.png);
}
.fees_passes{
	padding: 10px 0px 10px 60px;
}
.tkt_info .fees_passes p{
	font-size: 14px;
}
/*---four bullets---*/
.slide-loader{
	font-size: 16px;
	color: #fff;
	position: absolute;
	height: 35px;
	z-index: 100;
	height: 50px;
	padding: 10px 20px;
	bottom: 0;
}
.slide-loader span{
	display: block;
	font-family: 'VerlagBook';
}
.slide-loader .title{
	font-family: 'VerlagBold';
	text-transform: uppercase;
	float: left;
	line-height: 30px;
}
.slide-loader a{
	line-height: 30px;
	transition: .2s;
	text-decoration: underline;
}
.slide-loader a:hover{
	color: #fcde13;
}
.slide-loader .bullets{
	margin: 0px 10px;
	float: left;
	display: flex;
	justify-content: space-between;
}
.slide-loader .crcl{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border:2px solid #fff;
	text-align: center;
	margin: 0px 5px;
	position: relative;
	cursor: pointer;
}
.slide-loader .crcl.active{
	border:transparent;
}
.slide-loader .crcl.active .center{
	color: #fcde13;
}
.slide-loader .crcl.active .half{
	width: 50%;
	height: 100%;
	right: 0px;
	position: absolute;
	overflow: hidden;
	transform-origin: left center;
	animation: cliprotate 12s steps(2) infinite;
	-webkit-animation: cliprotate 12s steps(2) infinite;
}
.slide-loader .crcl.active .border{
	box-sizing: border-box;
	height: 100%;
	right: 0px;
	position: absolute;
	border: solid 3px transparent;
	border-top-color: #fcde13;
	border-left-color: #fcde13;
	border-radius: 50%;
}
.slide-loader .crcl.active .half .clipped {
	width: 200%;
	animation: rotate 6s linear infinite;
	-webkit-animation: rotate 6s linear infinite;
}
.slide-loader .crcl.active .fixed{
	width: 100%;
	transform: rotate(135deg);  
	animation: showfixed 12s steps(2) infinite;
	-webkit-animation: showfixed 12s linear infinite;
}
/*---four bullets end---*/
/*--------*/
.top_nav{
	height: 50px;
	z-index: 1001;
	position: relative;
}
.z-1{
	z-index: 1000;
}
.nav_bar.active{
	background-color: rgba(0,0,0,0.9);
}
.nav_bar.gray{
	max-width: 1560px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: none;
	left: 0;
}
.nav_bar.gray ul{
	margin-bottom: 0;
}
.nav_bar.gray ul li{
	background-color: transparent;
}
.top_nav a{
	display: block;
}
.top_nav .arroud_me{
	line-height: 50px;
	display: block;
	padding-left: 65px;
	padding-right: 30px;
	background-image: url('../img/icons/compas.png');
	background-repeat:no-repeat;
	background-position:20px center;
	height: 50px;
	min-width: 60px;
}
.top_nav .socials{
	padding: 14px 10px;
	display: flex;
	justify-content: space-between;
	float: left;
}
.top_nav .socials .flwUs{
	font-size: 14px;
    text-transform: capitalize;
	font-family: 'VerlagLight';
	color: #fff;
 	padding-right: 5px;
 	opacity: .5;
}
.top_nav .socials img{
	height: 20px;
	margin-right: 10px;
	opacity: 0.5;
	transition: .2s;
}
.top_nav .socials a:hover img{
	opacity: 1;
}
.top_nav .logBtn{
	float: left;
	height: 50px;
	padding: 17px 20px 0px 35px;
	background-image: url('../img/icons/log-i.png');
	background-position: left center;
}
.top_nav .regUser .u_drop{
	width: 165px;
	height: 50px;
	padding: 10px;
	cursor: pointer;
	color: #fff;
}
.top_nav .regUser .u_drop .u-av{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.top_nav .regUser .u_drop .welcome{
	display: inline-block;
	width: 105px;
	user-select: none;
}
.top_nav .regUser .u_drop .welcome .user_name{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-transform: uppercase;
}
.top_nav .regUser.open .u_drop{
	background-color: #ffce00;
	color: #000;
}
.top_nav .regUser .u_dropdown{
	display: none;
}
.top_nav .regUser .u_dropdown ul{
	position: absolute;
	width: 290px;
	right: 0;
	top: 100%;
	transition: .2s;
	opacity: 0;
}
.top_nav .regUser .u_dropdown ul li a{
	color: #000;
	font-family: 'VerlagBold';
	padding: 15px 25px;
	font-size: 18px;
	background-color: #ffce00;
	transition: .2s; 
}
.top_nav .regUser .u_dropdown ul li a:hover{
	color: #fff;
	background-color: #000;
}
.top_nav .regUser.open .u_dropdown{
	display: block;
}
.top_nav .regUser.open .u_dropdown ul{
	opacity: 1;
}
.top_nav .langBtn{
	display: inline-block;
	line-height: 50px;
	padding: 0px 40px 0px 15px;
	background-image: url(../img/icons/arrow-down.png);
	background-position:right 17px center;
}
.top_nav .langBtn .flag{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-image: url(../img/icons/flag.png);
	background-size: cover;
	background-position-x: center; 
	margin-right: 10px;
}
.top_nav .langBtn .ka .flag{
	background-position-y: 0; 
}
.top_nav .langBtn .en .flag{
	background-position-y: -23px; 
}
.top_nav .langBtn a.en{
	font-size: 14px;
}
.top_nav .langBtn a{
	display: flex;
	align-items: center;
    font-family: mtavRegular;
    user-select: none;
}
.top_nav .langBtn .lang-down{
	display: none;
	background-color: #1a1a1a;
	width: 100%;
	left: 0;
	position: absolute;
	z-index: 101;
	padding: 0px 40px 0px 15px;
}
.top_nav .heartBtn{
	float: right;
	width: 50px;
	height: 50px;
	background-image: url('../img/icons/heart-w.png');
	background-position: center;
	background-size: 22px;
}
.hamburger_menu .hamBtn{
	width: 25px;
    height: 20px;
    margin-top: 17px;
    display: none;
    position: relative;
    cursor: pointer;
}
.hamburger_menu .hamBtn span{
	width: 25px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	transition: .2s;
}
.top_nav_cont.fix_nav .hamburger_menu .hamBtn span{
	background-color: #000!important;
}
.top_nav_cont.fix_nav .hamburger_menu .hamBtn.active span{
	background-color: #fff!important;
}
.hamburger_menu .hamBtn .top-line,
.resNavBtn .top-line{
	top: 0;
}
.hamburger_menu .hamBtn .midd-line,
.resNavBtn .midd-line{
	top: 50%;
	transform: translateY(-50%);
}
.hamburger_menu .hamBtn .bott-line,
.resNavBtn .bott-line{
	bottom: 0;
}
.hamburger_menu .hamBtn.active .top-line,
.resNavBtn.active .top-line{
	transform: rotate(45deg);
	margin-top: 9px;
}
.hamburger_menu .hamBtn.active .midd-line,
.resNavBtn.active .midd-line{
	transform: translate3d(-25px,-50%,0);
	opacity: 0;	
}
.hamburger_menu .hamBtn.active .bott-line,
.resNavBtn.active .bott-line{
	transform: rotate(-45deg);
	margin-bottom: 9px;
}
.hamburger_menu .res-clear{
	clear: both;
	display: none;
}
.top_nav .heartBtn:hover{
	background-image: url('../img/icons/heart-full.png');
}
.nav_bar{
	position: absolute;
	width: 100%;
	padding: 10px 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;
}
.nav_bar .logo{
	float: left;
}
.nav_bar .logo img{
	height: 100%;
}
.res_logo_img_fixed,
.nav_bar .res_logo_img{
	display: none;
}
.nav_bar .logo_img_fixed{
	display: none;
}
.nav_bar ul{
	display: inline-block;
}
.nav_bar ul li{
	float: left;
	padding: 20px 10px 0px 10px;
}
.nav_bar ul li a{
	transition:.2s;
}
.nav_bar ul li a:hover{
	color: #ffce00;
}
.nav_bar .searchBtn{
    position: relative;
    float: right;
    width: 28px;
    height: 28px;
    padding: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
    z-index: 102;
}
.nav_bar .searchBtn span{
	display: block;
	position: absolute;
}
.nav_bar .searchBtn .o{
	width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #fff;
    top: 0;
    left: 0px;
    transition: .2s;
}
.nav_bar .searchBtn .l{
	width: 2px;
	height: 100%;
    background: linear-gradient(45deg, transparent 55%, #fff 45%);
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0) rotate(135deg);
	transition: .2s;
}
.nav_bar .searchBtn.active .o{
	transform: scale(0);
}
.nav_bar .searchBtn.active .l{
	width: 2px;
	height: 100%;
	background-color: #fff;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0) rotate(-45deg);
	transition: .2s;
}
.nav_bar .searchBtn.active .ll{
	transform: translate3d(-50%,-50%,0) rotate(-135deg);
}
#search-box{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 90vh;
	display: none;
	z-index: 3;
}
#search-box .mCSB_dragger_bar{
	background-color: #ffce00;
}
#search-box .mCSB_scrollTools .mCSB_draggerRail{
	background-color: #aaa;
}
#search-box .bg{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.9);
	z-index: -1;
}
#search-box .my-search-form{
	width: 100%;
	height: 260px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	transition: .2s;
}
#search-box .s_input{
	background-color: transparent;
	font-size: 40px;
	color: #fff;
	max-width: 550px;
	width: 90%;
	border-radius: 0;
	margin: 0 auto;
	display: block;
	border-bottom: 1px solid #aaa;
	text-overflow: ellipsis;
}
#search-box ul{
	position: relative;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    max-width: 550px;
    max-height: 200px;
    display: none;
}
#search-box ul li{
	font-family: 'VerlagBold';
}
#search-box .search-list a{
	padding: 5px 0;
	color: #ffce00;
	display: block;
}
#search-box .search-list a:hover{
	text-decoration: underline;
}
#search-box .s_button{
	margin: 20px auto;
	display: table;
	color: #fff;
	background-color: transparent;
	border:5px solid #aaa;
	font-size: 20px;
	padding: 10px 40px; 
	transition: .2s;
}
#search-box .s_button:hover{
	border-color: #fcde13;
}
/*
.BAR*/
.top_nav_cont.fix_nav .nav_bar{
	position: fixed;
	max-width: 1560px;
	top: 0;
	z-index: 1100;
	animation: slideDown .2s 1;
}
.top_nav_cont.fix_nav .nav_bar .logo{
	height: 35px;
}
.top_nav_cont.fix_nav .nav_bar .logo .logo_img{
	display: none;
}
.top_nav_cont.fix_nav .nav_bar .logo .logo_img_fixed{
	display: block;
}
.top_nav_cont.fix_nav .nav_bar ul{
	margin-bottom: 0;
}
.top_nav_cont.fix_nav .nav_bar ul li{
	padding-top: 8px;
}
.top_nav_cont.fix_nav .nav_bar ul li a{
	color: #000;
}
.top_nav_cont.fix_nav .nav_bar.active ul li a{
	color: #fff;
}
.top_nav_cont.fix_nav .nav_bar .searchBtn{
	margin-top: 4px;
}
.top_nav_cont.fix_nav .hamburger_menu .hamBtn{
	margin-top: 8px;
}
.top_nav_cont.fix_nav #search-box{
	position: fixed;
	z-index: 1000;
}
.top_nav_cont .fixed_bg{
	display: none;
}
.top_nav_cont.fix_nav .fixed_bg{
	display: block;
    height: 55px;
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
	animation: slideDown .2s 1;
	box-shadow: -3px 0px 20px rgba(0,0,0,0.5);
}
.nav_bar.active .searchBtn .o{
	border-color: #fff!important;
}
.nav_bar.active .searchBtn .l{
    background: linear-gradient(45deg, transparent 55%, #fff 45%)!important;
}
.top_nav_cont.fix_nav .nav_bar .searchBtn .o{
	border-color: #000;
	z-index: 1;
}
.top_nav_cont.fix_nav .nav_bar .searchBtn .l{
	background: linear-gradient(45deg, transparent 55%, #000 45%);
}
.top_nav_cont.fix_nav .nav_bar .searchBtn.active .l{
    background: linear-gradient(45deg, black 55%, #000 45%);
}
/*FIXED NAVBAR*/
.top_section_bg{
	position: relative;
	width: 100%;
	height: 90vh;
	min-height: 700px;
	background: radial-gradient(transparent, #000);
}
#top-slider{
	width: 100%;
}
#top-slider .slide_bg{
	width: 100%;
	min-height: 700px;
	height: 90vh;
	position: relative;
	overflow: hidden;
	background-color: #000;
}
#top-slider .slide_bg .photo{
	height: 100%;
}
.slide_video{
	position: relative;
	width: 100%;
	margin: rem-calc(0 0 54.5);
	height: 100%;
	overflow: hidden;
}
.slide_video::after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.slide_video .vidControls{
	position: absolute;
	z-index: 2;
	left: 20%;
	bottom: 100px;
	width: 80px;
	display: flex;
	justify-content: space-between;
}
.slide_video .vidControls button{
	width: 34px;
	height: 34px;
	border: 2px solid #fff;
	border-radius: 50%;
	background-color: rgba(125,125,125,0.4);
	/*transition:.2s;*/
	background-size: 18px;
	background-image: url('../img/icons/video-controls.png');
	background-position-x: center; 
}
.slide_video .vidControls button:hover{
	background-color: transparent;
}
.slide_video .vidControls .mute{
	background-position-y:8px; 
}
.slide_video .vidControls .mute.active{
	background-position-y:-21px; 
}
.slide_video .vidControls .pause{
    background-position-y: -61px;
    background-position-x: 9px;
    background-size: 14px;}
.slide_video .vidControls .pause.active{
    background-position-x: center;
    background-position-y: -37px;
}
#top-slider .slide_bg .photo img{
	height: 100%;
	opacity: .7;
}
#top-slider .slide_bg .yllwBtn{
	margin: 0 auto;
	max-width: 220px;
	display: table;
}
.top-pagination{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-left: 15px;
	z-index: 2;
}
.top-pagination .count{
	position: relative;
	cursor: pointer;
	transition: .2s;
	height: 25px;
}
.top-pagination .count.active{
	color: #fcde13;
	height: 120px;
}
.top-pagination .count::before,
.top-pagination .count::after{
	content: '';
	width: 1px;
	position: absolute;
	top:25px;
	left: 50%;
	transform: translateX(-50%);
}
.top-pagination .count.active::before,
.top-pagination .count.active::after{
	opacity: 1;
}
.top-pagination .count.active::after{
	height: 94px;
	background-color: #aaa;
}
.top-pagination .count::before{
	height: 0;
	transition: 1s;
}
.top-pagination .count.active::before{
	background-color: #fcde13;
	height: 94px;
	z-index: 2;
}
.top_sight_img{
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: 15px;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.top_sight_img .photo{
	width: 100%;
	height: 100%;
	padding: 10%;
	border-radius: 50%;
}
.top_sight_img .photo img{
	border-radius: 50%;
	cursor: pointer;
}
.favouritesBtn,
.attractionBtn{
	position: absolute;
	bottom: 0;
	z-index: 2;
}
.favouritesBtn{
	left: 0;
	width: 330px;
}
.attractionBtn{
	right: 0;
}
.favouriteBtn .add,
.favouritesBtn .add{
	height: 80px;
	width: 250px;
	float: left;
	background-color: #fa5654;
	font-size: 18px;
	font-family: 'VerlagBold';
	text-transform: uppercase;
    padding: 28px 5px 28px 50px;
    background-image: url(../img/icons/heart-w.png);
    background-position: 15px center;
    background-size: 25px;
    color: #fff;
}
.top_section_bg .favouritesBtn .add{
	position: absolute;
	bottom: 0;
}
.favouriteBtn .add:hover,
.favouritesBtn .add:hover{
    background-image: url(../img/icons/heart-full.png);
}
.favouritesBtn .add.active{
    background-image: url(../img/icons/heart-full.png);
}
.favouritesBtn .share{
	padding: 10px;
	float: right;
	width: 80px;
	height: 80px;
	background-color: #41b1e2;
	background-image: url(../img/icons/share-i.png);
	background-position: center;
	background-size: 25px;
	transition: .2s;
}
.favouritesBtn .share:hover{
	height: 155px;
	background-image: none;
}
.favouritesBtn .share .shareBtns{
	opacity: 0;
	width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.favouritesBtn .share .shareBtns .soc{
	width: 100%;
	height: 45px;
	left: 0;
	display: block;
	background-position-x: center; 
	background-image: url(../img/icons/share-soc.png);
	background-size: 24px;
}
.favouritesBtn .share .shareBtns .soc:hover{
	background-image: url(../img/icons/share-soc-b.png);
	opacity: .6;
}
.favouritesBtn .share .shareBtns .fb{
	background-position-y:10px;
}
.favouritesBtn .share .shareBtns .twitter{
    background-position-y: -48px;
}
.favouritesBtn .shareBtns .vk{
	background-position-y:-114px;
}
.favouritesBtn .share .shareBtns .in{
	background-position-y:-164px;
}
.favouritesBtn .share .shareBtns .gplus{
	background-position-y:-229px;
}
.favouritesBtn .share .shareBtns .gmail{
	background-position-y:-287px;
	top: 83%;
}
.favouritesBtn .share:hover .shareBtns{
	opacity: 1;
}
.attractionBtn .attr_pass{
	background-color: #ffce00;
	padding: 20px 15px;
	color: #000;
	text-align: right;
	font-size: 16px;
	font-family: 'VerlagBold';
	text-transform: uppercase;
	width: 150px;
	height: 80px;
	position: relative;
    border-left: 5px dotted #000;
}
.attractionBtn._ex .attr_pass{
    border-right: 5px dotted #000;
	border-left: none;
}
.attractionBtn .attr_pass p{
	margin: 0;
}
.attractionBtn .inline-block{
	display: inline-block;
	color: #000;
}
.attractionBtn .attr_pass .tktBtn{
    width: 80px;
    height: 80px;
    border: 5px solid #ffce00;
    background-image: url(../img/icons/ticket-i.png);
    background-position: center;
    position: absolute;
    top: 0px;
    left: -85px;
    transition: .2s;
}
.attractionBtn._ex{
	left: 0;
}
.attractionBtn._ex .attr_pass .tktBtn{
	right: -80px;
	left: 150px;

}
.bottom_nav{
	position: relative;
	z-index: 10;
	background-color: #000;
}
.bottom_nav .resBtn{
	top: 25px;
}
.bottom_nav .resBtn span{
	background-color: #fff;
}
.bottom_nav ul{
	float: left;
	margin: 0;
	background-color: #000;
}
.bottom_nav ul::after{
	content: '';
	display: block;
	clear: both;
}
.bottom_nav ul li{
	float: left;
	height: 70px;
	font-family: 'VerlagBold';
	font-size: 0.9vw;
	color: #fff;
}
.bottom_nav.static ul li{
	height: 50px;
}
.bottom_nav.static ul li a{
	line-height: 50px;
}
.bottom_nav ul li a{
	display: block;
	text-transform: uppercase;
	line-height: 70px;
	padding: 0px 18px;
	transition: .2s;
}
.bottom_nav ul li a:hover{
	background-color:#363636; 
}
.bottom_nav ul li a.active{
	background-color:#363636; 
}
.bottom_nav .alert_cont{
	font-size: 16px;
	color: #fff;
	font-family: 'VerlagBold';
	float: right;
}
.bottom_nav.static .alerts{
	height: 50px;
	transition:.2s;
}
.bottom_nav .alerts{
	height: 70px;
	width: 150px;
	border-radius: 0;
	background-color: #e53c40;
	background-image: url(../img/icons/alert-i.png);
	background-position: 15px center;
	position: relative;
	float: right;
	z-index: 3;
}
.bottom_nav .alerts .quant{
	color: #e53c40;
	text-align: center;
	line-height: 20px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.bottom_nav .alert_box h1,
.bottom_nav .alert_box h2,
.bottom_nav .alert_box h3,
.bottom_nav .alert_box h4,
.bottom_nav .alert_box h5,
.bottom_nav .alert_box h6{
	font-family: 'verlag';
}
.bottom_nav .alert_box{
	font-family: 'devinne';
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 3;
	width: 520px;
	max-height: 250px;
	padding: 20px;
	display: none;
}
.bottom_nav .alert_box .info{
	max-height: 200px;
}
/*FIXED BOTTOM BAR*/
.bottom_nav.static{
	top: 55px;
	position: fixed;
	width: 100%;
	z-index: 999;
}
/*FIXED BOTTOM BAR*/
.intro_section{
	overflow: hidden;
	margin-top: -80px;
}
.intro_section._ex .t-right{
	margin-top: 0;
}
.intro_section .sortBy{
	position: relative;
	min-height: 80px;
	width: 100%;
	float: right;
	background-color: #fff;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.intro_section .sortBy .sortBtn{
	margin: 0;
	padding-top: 20px;
	width: 33.33%;
	font-size: 14px;
	color: #999;
	font-family: 'VerlagLight';
}
.intro_section .sortBy .sortBtn::after{
	opacity: .5;
	top: 40px;
}
.intro_section .sortBy .sortBtn .sort_list{
	border-radius: 0;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
	padding-top: 65px;
}
.intro_section .sortBy .sortBtn .sort_list li{
	padding-left: 44px;
	color: #000;
	line-height: 20px;
	margin-bottom: 10px;
}
.intro_section .sortBy .sortBtn .sort_list li:hover{
	color: #ffce00;
}
.intro_section .sortBy .sortBtn .sort_label{
	padding-left: 44px;
	background-image: url(../img/icons/ui-i.png);
	background-position-x:10px;
}
.intro_section .sortBy .sortBtn:nth-child(1) .sort_label{
	background-position-y:10px; 
}
.intro_section .sortBy .sortBtn:nth-child(2) .sort_label{
	background-position-y: -25px;
}
.intro_section .sortBy .sortBtn:nth-child(3) .sort_label{
	background-position-y: -60px;
}
.intro_section .t-right{
	margin-top: 80px;
	padding: 40px 30px 20px 30px;
	position: relative;
	z-index: 2;
}
.intro_section .title{
	margin-bottom: 40px;
}
.intro_section p{
	font-family: 'Georgia';
	margin-bottom: 20px;
}
.intro_section .seasons,
.intro_section .adventures{
	padding: 20px;
}
.intro_section h4{
	font-size: 20px;
	font-family: 'Devinne';
	color: #fff;
}
.intro_section .icons{
	margin: 0 auto;	
	max-width: 700px;
}
.icons::after{
	content: '';
	display: block;
	clear: both;
}
.icons .season-i,
.icons .season-i-b,
.icons .adv-i,
.icons .adv-i-b{
	transition: .2s;
	background-size: 100%;
	width: 46px;
	height: 46px;
	background-size: 100%;
	display: block;
	float: left;
	margin:10px; 
	opacity: .5;
}
.icons .adv-i{
	margin: 10px 5px;
}
.intro_section .adventures .icons > a{
	opacity: .1;
}
.intro_section .adventures .icons > a.adventuresAct{
	opacity: .5;
}
.icons .season-i.active,
.icons .season-i:hover,
.icons .season-i-b:hover,
.icons .adv-i:hover,
.icons .adv-i-b:hover{
	opacity: 1!important;
}
/*---icons---*/
.icons .adv-i .infoBox{
	display: none; 
    position: absolute;
    bottom: 50px;
    left: 50%;
    background-color: #fff;
    color: #000;
    transform: translateX(-50%);
    text-align: center;
    padding: 5px 15px;
    border-radius: 3px;
    line-height: 14px;
    font-family: 'VerlagBold';
}
.icons .adv-i:hover .infoBox{
	display: block;
}
.icons .adv-i .infoBox::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    bottom: -4px;
    transform: translateX(-50%) rotate(45deg);
    left: 50%;
    z-index: -1;
}
.icons .adv-i{
	position: relative;
	background-image: url('../img/icons/adventures.png');
}
.icons .adv-i-b{
	background-image: url('../img/icons/adventures-b.png');
}
.icons .season-i{
	background-image: url('../img/icons/seasons.png');
}
.icons .season-i-b{
	background-image: url('../img/icons/seasons-b.png');
}
.icons .adv-1-i{
	background-position-y:0px; 
	background-size: contain;
}
.icons .adv-2-i{
	background-position-y:-55px; 
}
.icons .adv-3-i{
	background-position-y:-110px; 
}
.icons .adv-4-i{
	background-position-y:-165px; 
}
.icons .adv-5-i{
	background-position-y:-220px; 
}
.icons .adv-6-i{
	background-position-y:-275px; 
}
.icons .adv-7-i{
	background-position-y:-330px; 
}
.icons .adv-8-i{
	background-position-y:-385px; 
}
.icons .adv-9-i{
	background-position-y:-440px; 
}
.icons .adv-10-i{
	background-position-y:-495px; 
}
.icons .adv-11-i{
	background-position-y:-550px; 
}
.icons .adv-12-i{
	background-position-y:-605px; 
}
.icons .adv-13-i{
	background-position-y:-660px; 
}
.icons .adv-14-i{
	background-position-y:-715px; 
}
.icons .adv-15-i{
	background-position-y:-770px; 
}
.icons .adv-16-i{
	background-position-y:-825px; 
}
.icons .adv-17-i{
	background-position-y:-880px; 
}
.icons .adv-18-i{
	background-position-y:-935px; 
}
.icons .adv-19-i{
	background-position-y:-990px; 
}
.icons .adv-20-i{
	background-position-y:-1045px; 
}
.icons .adv-21-i{
	background-position-y:-1100px; 
}
.icons .season-1-i{
	background-position-y:0;
}
.icons .season-2-i{
	background-position-y:-59px;
}
.icons .season-3-i{
	background-position-y:-115px;
}
.icons .season-4-i{
	background-position-y:-170px;
}
/*---icons end---*/
.planning_section{
	min-height: 765px;
	padding-top: 100px;
	position: relative;
}
.planning_section .y-title{
	position: absolute;
	top: 50px;
	padding-left: 100px;
}
.planning_section .w-title{
	margin-bottom: 30px;
	font-size: 40px;
}
.planning_section .dscrb_cont::before,
.planning_section .w-title::after{
	content: '';
	display: block;
	clear: both;
}
.planning_section .dscrb_cont{
	width: 50%;
	float: left;
	padding:40px 15px 70px  100px;
	max-height: 665px;
}
.memories .overflower,
.planning_section .dscrb_cont .overflower{
	max-height: 240px;
    overflow: hidden;
    margin-bottom: 20px;
}
.planning_section .dscrb_cont p{
	font-family: 'Devinne';
	line-height: 25px;
	overflow: hidden;
	color: #fff;
}
.memories .yllwBtn,
.planning_section .dscrb_cont .yllwBtn{
	width: 182px;
	float: left;
	padding: 15px 20px;
}
.planning_section .photo{
	float: right;
	width: 50%;
	overflow: visible;
	height: 665px;
	background-color: #000;
}
.planning_section .photo img{
	opacity: 0.7;
}
.planning_section .slide-loader{
	bottom: 50px;
	right: 50%;
} 
.memories{
	position: relative;
}
.memories .text-cont{
	overflow: hidden;
	max-height: 300px;
}
.memories ._seeMore{
	color: #fcde13;
	margin-top: 10px;
	display: inline-block;
}
.memories .memories-title,
.memories .autor{
	width: 20%;
	padding: 40px 15px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;
}
.memories .autor{
	height: 320px;
}
.memories .bg.photo{
	width: 100%;
	height: 90vh;
	min-height: 768px;
	position: relative;
	background-color: #000;
}
.memories .bg.photo > img{
	opacity: 0.7;
}
.memories .bg.photo .absolute{
	width: 55%;
	left: 50%;
	padding: 15vh 15px 100px 15px;
	transform: translateX(-50%);
	height: 100%;
	z-index: 2;
}
.memories .bg.photo .absolute p{
	color: #fff;
	font-family: 'phoneSans';
}
.memories .user_avatar{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	padding: 25px 20px;
	right: 0;
}
.memories .user_avatar p{
	float: right;
	max-width: 60%;
	text-align: right;
}
.memories .user_avatar .photo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: right;
	margin-left: 20px;
}
.memories .bg.photo .w-title{
	position: relative;
	margin-bottom: 60px;
}
.memories .bg.photo .w-title::after{
	content: '';
	position: absolute;
	width: 150px;
	height: 6px;
	left: 0;
	bottom: -30px;
	background-color: #ffce00;
}
.memories .slide-loader{
	right: 20px;
	bottom: 20px;
}
.t-ex-sort{
	min-height: 80px;
}
.t-ex-sort .sorts{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.t-ex-sort .sorts .sortBtn::after{
	background-image: url(../img/icons/arrow-down.png);
}
.t-ex-sort .sorts .sortBtn{
	width: 25%;
	border-radius: 0;
	margin-top: 20px;
	color: #fff;
	background-color: #000;
	font-size: 16px;
	font-family: 'VerlagBook';
}
.t-ex-sort .sorts .sortBtn .sort_list{
	border-radius: 0;
	background-color: #000;
}
.t-ex-sort .sorts .sortBtn .sort_list li{
	padding-left: 50px;
}
.t-ex-sort .sorts .sortBtn .sort_label{
    color: #999;
    padding-left: 50px;
    background-image: url(../img/icons/ui-w.png);
    background-position-x: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 40px;
}
.t-ex-sort .sorts .sortBtn:nth-child(1) .sort_label{
    transition: .2s;
    background-image: url(../img/icons/a-z.png);
}
.t-ex-sort .sorts .sortBtn:nth-child(1):hover .sort_label{
    background-image: url(../img/icons/ui-w-h.png);
}
.t-ex-sort .sorts .sortBtn:nth-child(1)::after{
	display: none;
}
.t-ex-sort .sorts .sortBtn:nth-child(1) .sort_label{
	background-position-y: 15px; 
}
.t-ex-sort .sorts .sortBtn:nth-child(2) .sort_label{
	background-position-y: -20px; 
}
.t-ex-sort .sorts .sortBtn:nth-child(3) .sort_label{
	background-position-y: -60px; 
}
.t-ex-sort .sorts .sortBtn:nth-child(4) .sort_label{
	background-position-y: -100px; 
}
.parks_list{
	display: flex;
	justify-content: space-between;
	height: 690px;
}
.parks_list .contnet{
	height: 100%;
}
.parks_list .content ._scroller{
	max-height: 270px;
	font-family: 'georgia';
	overflow: hidden;
	margin-bottom: 20px;
}
.parks_list .list{
	width: 25%;
	height: 690px;
	transition: .2s;
}
.parks_list .list.active{
	background-color: #fff;
}
.parks_list .list .resBtn{
	right: 15px;
	left: auto;
}
.parks_list .list .mCSB_inside>.mCSB_container{
	margin: 0;
}
.parks_list .list ul{
	height: 100%;
	font-size: 20px;
	overflow-x: hidden;
}
.parks_list .list ul li{
	padding: 15px 20px 15px 35px;
	border-bottom: 4px solid transparent;
	border-image: url(../img/icons/border.png) 4 round;
	cursor: pointer;
	transition: .2s;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.parks_list .list ul li.active{
	background-color: #f4f4f4;
}
.parks_list .content_cont{
	display: none;
}
.parks_list .content_cont.active{
	display: block;
}
.parks_list .content{
	width: 85%;
    background-color: #f4f4f4;
    position: relative;
    padding: 30px;
    float: left;
    height: 100%;
}
.parks_list .content h2{
	margin-bottom: 30px;
	font-size: 6vh;
}
.parks_list .content h3{
	margin-bottom: 20px;
}
.parks_list .content .yllwBtn{
	margin-right: 20px;
	float: left;
	border-color: #ffce00;
}
.parks_list .content .yllwBtn:hover{
	border-color: #000;
	color: #000!important;
}
.parks_list .content .adv_parks{
	float: left;
	max-width: 500px;
	margin-right: 30px;
}
.parks_list .content .seasons .icons,
.parks_list .content .adv_parks .icons{
	margin-left: -10px;
	margin-bottom: 30px;
}
.parks_list .content .seasons{
	display: inline-block;
}
.parks_list .photo-map{
	width: 15%;
    position: relative;
    height: 690px;
    float: right;
}
.parks_list .photo-map .photo{
	width: 100%;
	height: 690px;
	position: relative;
}
.parks_list .photo-map .mini_map{
	width: 280px;
	height: 190px;
	position: absolute;
	bottom: 50px;
	left: -140px;
	overflow: hidden;
	transition: .2s;
}
.img_pop .cls,
.terms_popup .cls,
.parks_list .photo-map .mini_map .cls{
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 40px;
	color: #fff;
	z-index: 2;
	cursor: pointer;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
	user-select: none;
}
.img_pop .cls,
.terms_popup .cls{
	color: #000;
	top: 0;
	right: 0;
	display: block;
}
.img_pop .cls{
	color: #fff!important;
}
.img_pop_bg{
	z-index: 1006;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: none;
}
.img_pop_bg.active{
	display: block;
}
.img_pop{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 90%;
	height: 80vh;
	z-index: 1007;
	background-color: rgba(0,0,0,0.8);
	display: none;
}
.img_pop img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: contain;
}
.parks_list .photo-map .mini_map.active{
	width: 500px;
	height: 400px;
	bottom: 0;
	right: 0;
	left: auto;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
.parks_list .photo-map .mini_map .yllwBtn{
	z-index: 2;
	padding: 15px 20px;
	width: 150px;
	background-color: #000000a6;
	box-shadow:0px 0px 0px 300px rgba(0,0,0,.6);
}
.reviews{
	padding-bottom: 17px;
}
.reviews .add_review{
	padding-left: 90px;
	padding-bottom: 30px;
    padding-top: 10px;
	position: relative;
	margin-bottom: 10px;
	background-color: #fff;
}
.reviews .add_review::after{
	content: '';
	position: absolute;
	left: 80px;
	top: 5px;
	width: 1px;
	height: 90%;
	background-color: #ccc;
}
.reviews .r-field{
	font-family: 'Georgia';
    font-size: 12px;
    font-style: italic;
    border: none;
    width: 100%;
    resize: none;
    overflow: hidden;
    padding-right: 10px;
}
.reviews .circular{
	margin-right: 10px;
}
.reviews .add_review .autor-img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 5px;
}
.reviews .comments{
	max-height: 500px;
}
.comm_seealso .drk-wht{
	min-height: 700px;
}
.reviews .comments .autor-img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	top: 15px;
}
.reviews .comment{
	position: relative;
	padding:20px 20px 20px 100px;
	min-height:110px; 
}
.reviews .comment .ttl{
	overflow: hidden;
	margin-bottom: 10px;
}
.reviews .comment .rating-stars{
	float: left;
	margin-right: 20px;
}
.reviews .comment .txt{
	font-family: 'Georgia';
	font-size: 14px;
	color: #333;
}
.see_also{
	min-height: 700px;
}
.see_also .top_title{
	margin-top: 20px;
	margin-bottom: 40px;
	overflow: hidden;
}
.see_also .also_parks{
	max-height: 540px;
	color: #fff;
}
.see_also .also_parks .photo{
	width: 240px;
	height: 140px;
	border-radius: 8px;
	margin-bottom: 20px;
}
.see_also .also_parks h3{
	font-family: 'Circular';
	font-weight: bold;
	margin-bottom: 24px;
}
.park_detail{
	margin-bottom: 20px;
}
.park_detail a{
	text-decoration: underline;
}
.drive_dur,
.a_to_b{
	padding:5px 30px;
	background-position: left center; 
}
.a_to_b{
	background-image: url('../img/icons/a-b.png');
}
.drive_dur{
	background-image: url('../img/icons/timer.png');
}
.things_to_see{
	padding: 30px 15px 70px 15px;
}
.things_to_see .y-title{
	margin-bottom: 30px;
}
.things_to_see h2:not(.y-title){
	padding: 0 15px;
	font-family: 'VerlagBold';
	text-transform: uppercase;
	color: #fcde13!important;
}
.things_to_see .photo{
	min-width: 140px;
	max-width: 140px;
	width: 35%;
	height: 140px;
	border-radius: 50%;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
}
.contact_info{
	max-width: 730px;
}
.contact_info .f_lex{
	display: flex;
	justify-content: space-between;
}
.contact_info .c_info{
	padding: 5px;
	border-bottom: 1px solid #ccc;
}
.contact_info .addrs_box{
	padding: 5px;
	margin-top: 10px;
}
.contact_info .c-ico{
	padding: 5px 0px 5px 26px;
	background-image: url('../img/icons/c-ico.png');
	background-position-x: 0px; 
	background-size: 15px;
	width: 33.33%;
	color: #000;
}
.contact_info .c_name{
	background-position-y: 4px; 
}
.contact_info .c_phone{
	background-position-y: -52px; 
}
.contact_info .c_mail{
	background-position-y:-102px; 
}
.contact_info .c_addrs{
	margin: 0;
	background-position-y:-160px; 
}
.things_to_see .dscrb{
	display: inline;
    width: 65%;
    padding-left: 20px;

}
.things_to_see .dscrb a{
	display: inline-block;
}
.things_to_see .dscrb p{
	color: #fff;
	opacity: .6;
	font-size: 14px;
	font-family: 'Georgia';
}
.things_to_see .box{
	display: flex;
	margin-bottom: 50px;
}
.park_overview{
	overflow: hidden;
	padding-left: 15px;
}
.park_overview .dscrb{
	padding: 20px 0;
	font-family: 'Georgia';
	max-height: 700px;
	position: relative;
}
.park_overview .dscrb .info{
	margin-top: 30px;
	overflow: hidden;
}
.park_overview .dscrb .info .circular{
	cursor: pointer;
}
.park_overview .dscrb .info .block.wk{
	display: none;
}
.park_overview .block.prc{
	display: none;
}
.park_overview .info .details{
	color: #999999;
}
.park_overview .info .details .tm{
	margin-bottom: 20px;
}
.pano_album{
	height: 90vh;
	position: relative;
}
.pano_album .album_nav{
	width: 250px;
	height: 100%;
	background-color: #000;
	position: absolute;
	left: 0;
	padding: 25px 20px 25px 25px;
	display: none;
}
.pano_album .album_nav .photo img.selected{
	border: 10px solid #ffce00; 
}
.pano_album .album_nav .my-video{
	position: relative;
	height: 120px;
	margin-bottom: 20px;
}
.pano_album .album_nav .my-video.selected{
	border: 10px solid #ffce00; 
}
.pano_album .album_nav .my-video .playBtn{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .5;
	cursor: pointer;
	z-index: 100;
	/*background-image: url(../img/icons/play.png);*/
	background-position: center;
}
.pano_album .album_nav .my-video.selected .playBtn{
	background-image: none;
}
.pano_album .album_nav.active{
	display: block;
}
.pano_album .album_nav .photo{
	height: 120px;
	margin-bottom: 20px;
	cursor: pointer;
}
.pano_album .show_photo{
	height: 100%;
	margin-left: 250px;
}
.pano_album .show_photo .switch{
	margin-top: 15px;
	z-index: 2;
	margin-right: 15px;
	position: absolute;
	right: 15px;
}
.pano_album .show_photo .content{
	display: none;
	height: 100%;
}
.pano_album .show_photo .content.active{
	display: block;
}
.pano_album .show_photo .content img{
	opacity: .7;
}
.pano_album .show_photo .content{
	background-color: #000;
}
.pano_album .show_photo .content .album_title{
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 5%;
	color: #fff;
	font-family: 'Devinne';
	font-size: 50px;
	max-width: 20%;
	text-shadow: 1px 1px 10px rgba(0,0,0,0.3); 
	transform: translateY(-50%);
}
.pano_album .show_photo .content .album_title::after{
	content: '';
	position: absolute;
	bottom: -20px;
	left: 0;
	width: 40%;
	height: 5px;
	background-color: #ffce00;
}
.inst_photos .photo_cont{
	height: 400px;
	position: relative;
	cursor: pointer;
}
.inst_photos .photo_cont .photo{
	width: 100%;
	height: 100%;
	background-color: #000;
}
.inst_photos .photo_cont .photo img{
	opacity: .5;
	transition: .2s;
}
.inst_photos .photo_cont:hover .photo img{
	opacity: 1;
}
.inst_photos .photo_cont .autor_img{
	bottom: 0;
	z-index: 2;
	padding: 15px;
}
.inst_photos .photo_cont .autor_img .photo{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
}
.inst_photos .photo_cont .insta-i{
	width: 30px;
	height: 30px;
	right: 15px;
	top: 15px;
	z-index: 2;
	background-image: url('../img/icons/insta-i.png');
	background-size: 28px;
	background-position: center;
}
.adventure_section::after{
	content: '';
	display: block;
	clear: both;
}
.adventure_section .about{
	height: 700px;
}
.adventure_section .about .photo{
	height: 100%;
	width: 250px;
	left: 0;
	top: 0;
}
.adventure_section .about .text_about{
	margin-left: 300px;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 100%;
}
.adventure_section .about .text_about p{
	max-width: 470px;
	font-family: 'Georgia';
	line-height: 30px;
}
.trips{
	padding-top: 40px;
	padding-bottom: 50px;
	min-height: 500px;
}
.trips.basic_info{
	min-height: 500px;
	position: relative;
	display: flex;
	padding: 0;
}
.trips.basic_info .list_info{
	width: 20%;
	background-color: #fff;
}
.trips.basic_info .list_info .listBtn{
    position: absolute;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 2;
    overflow: hidden;
    display: none;
}
.trips.basic_info .list_info .listBtn span{
	display: block;
    width: 30px;
    height: 2px;
    background-color: #000;
    position: absolute;
    transition: .5s;
    left: 0;
}
.trips.basic_info .list_info .listBtn .t{
	top: 0;
}
.trips.basic_info .list_info .listBtn .m{
	top: 9px;
}
.trips.basic_info .list_info .listBtn .b{
	bottom: 0;
}
.trips.basic_info .list_info .listBtn.active .t{
	left: 10px;
}
.trips.basic_info .list_info .listBtn.active .m{
	left: -10px;
}
.trips.basic_info .list_info .listBtn.active .b{
	left: 10px;
}
.trips.basic_info .list_info ul li{
    padding: 15px 20px 15px 35px;
    border-bottom: 4px solid transparent;
    border-image: url(../img/icons/border.png) 4 round;
    cursor: pointer;
    transition: .2s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .2s;
    font-family:'Devinne';
}
.trips.basic_info .list_info ul li:hover,
.trips.basic_info .list_info ul li.active{
	background-color: #f4f4f4;
}
.trips.basic_info .info_container{
	width: 80%;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #f4f4f4;
	padding-top: 40px;
	padding: 40px 15px;
	display: none;
}
.trips.basic_info .info_container.shown{
	display: block;
}
.map_gps{
	height: 70vh;
}
.trips .photo_map{
	position: relative;
}
.trips .photo_map::after{
	content: '';
	display: block;
	clear: both;
}
.trips .photo_map .photo{
	height: 215px;
	width: 50%;
	float: left;
}
.trips .photo_map .trip_maps{
	position: absolute;
	right: 0;
	height: 260px;
	width: 50%;
}
.trips .info_box{
	max-width: 690px;
	border-top: 6px solid #fcde13;
	overflow:hidden;
	position: relative;
	z-index: 2;
}
.trips .name{
	width: 60%;
	padding: 15px 25px;
	float: left;
	height: 122px;
	background-color: #000;
	overflow: hidden;
	position: relative;
}
.trips .name h2{
	position: absolute;
	width: 90%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}
.trips .name h2 a{
	color: #fff;
}
.trips .info_box .details{
	padding: 15px 25px;
	background-color: #333333;
	width: 40%;
	overflow: hidden;
	height: 122px;
	position: relative;
	float: right;
	font-family: 'VerlagBold';
	color: #fff;
}
.trips .details .events,
.trips .details .duration{
	position: absolute;
	top: 50%;
	width: 50%;
	transform: translateY(-50%);
}
.trips .details .duration{
	left: 0;
	text-align: center;
}
.trips .details .events{
	right: 0;
	font-size: 10px;
}
.trips .details .duration .cuant{
	font-size: 50px;
	line-height: 40px;
}
.trips .details .duration .days{
	font-size: 20px;
}
.trips .trip_sorts{
	float: right;
}
.trips .trip_sorts .sortBtn{
	float: left;
	margin-left: 15px;
}
.info_cont::after{
	content: '';
	display: block;
	clear: both;
}
.info_cont .info_section{
	height:200px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 0;
}
.nat_cult{
	position: relative;
}
.nat_cult::after{
	content: '';
	display: block;
	clear: both;
}
.nat_cult .n_nav{
	float: left;
	width: 25%;
	min-height: 600px;
	padding: 30px 0;
}
.nat_cult .n_nav .switch{
	margin-bottom: 50px;
	width: 80%;
	max-width:280px;
	min-width: 215px;
}
.nat_cult .n_nav li{
	padding: 30px 20px;
	color: #000;
	transition: .2s;
	text-align: right;
	cursor: pointer;
}
.nat_cult .n_nav li.active,
.nat_cult .n_nav li:hover{
	background-color: #f4f4f4;
	color: #999999;
}
.nat_cult .content{
	float: right;
	width: 75%;
	padding: 30px;
	min-height: 500px;
	display: none;
}
.nat_cult .content.active{
	display: block;
}
.nat_cult .content p{
	font-family: 'Georgia';
	font-size: 16px;
}
.nat_cult .content .photo.sm{
	height: 168px;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.nature_bg{
	position: fixed;
	z-index: 99998;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	display: none;
}
.nature_bg.sh{
	display: block;
}
.nature_photo{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	transform: translate3d(-50%,-50%,0);
	background-color: rgba(0,0,0,0.8);
	z-index: 99999;
	visibility: hidden;
	transition: .3s;
}
.nature_photo.active{
	visibility: visible;
	width: 90%;
	height: 90vh;
}
.nature_photo .cls{
    color: #fff;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 50px;
    line-height: 30px;
    padding: 5px;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    transition: .4s;
}
.nature_photo.active .cls{
	opacity: 1;
}
.nature_photo img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
.nat_cult .content .ex_dscrb{
	margin-top: 30px;
	margin-bottom: 30px;
	overflow-y: hidden;
}
.nat_cult .content .ex_dscrb.l .txt{
	margin-left: -50px;
}
.nat_cult .content .ex_dscrb.r .txt{
	margin-right: -50px;
	position: relative;
	z-index: 2;
}
.memories_feed{
	min-height: 500px;
	padding-bottom: 40px;
	position: relative;
}
.memories_feed .m_cont{
	overflow: hidden;
	margin-bottom: 20px;
	position: relative;
	min-height: 235px;
}
.memories_feed .m_cont > .photo{
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}
.memories_feed .m_cont .comment{
	width: 50%;
	float: right;
	background-color: #000;
	padding:0px 10px 70px 10px;
	position: relative;
	min-height: 235px;
}
.memories_feed.for_ev .m_cont .comment{
	background-color: transparent;
	height: 235px;
	padding: 0;
}
.memories_feed.for_ev .comment .autor.data{
	height: 60%;
}
.memories_feed.ar_me .comment .autor.data{
	height: 70%;
	padding-left: 15px;
	display: flex;
	justify-content: space-between;
}
.memories_feed.ar_me .comment .autor.data .data_name,
.memories_feed.ar_me .comment .autor.data .ev_data{
	width: 50%;
}
.memories_feed .comment h4{
	background-color: #000;
	margin-left: -50px;
	padding-left: 10px;
	padding-bottom: 10px;
}
.memories_feed.for_ev .comment h4{
	height: 40%;
	padding: 10px;
	font-size: 25px;
}
.memories_feed.ar_me .comment h4{
	height: 30%;
	padding: 10px;
}
.memories_feed.for_buy .comment h4{
	height: 35%;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 20px 10px;
}
.autor .ev_data span{
	line-height: 19px;
}
.memories_feed.for_buy .comment .autor.data{
	height: 65%;
	display: block;
	padding-top: 20px;
}
.memories_feed.for_buy .comment .autor.data ul{
	padding: 15px;
}
.memories_feed.for_buy .comment .autor.data ul li{
	float: left;
	width: 50%;
}
.memories_feed .comment .autor{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	border-top: 6px solid #fcde13;
	background-color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
}
.user_memory .cont .avatar,
.memories_feed .comment .autor .avatar{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fcde13;
}
.memories_feed .comment .autor .avatar{
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;
}
.memories_feed .comment .autor .name{
    right: 70px;
}
.user_memory .cont .m_img{
	height: 235px;
	margin-bottom: 20px;
}
.user_memory .cont .user_avatar{
	overflow-y: hidden;
	margin-top: 20px;
	margin-bottom: 30px;
	padding-top: 20px;
}
.user_memory .cont .user_avatar::before{
	content: '';
	position: absolute;
	height: 6px;
	width: 200px;
	background-color: #fcde13;
	top: 0px;
	left: 0;
}
.user_memory .cont .text .avatar{
	float: left;
	background-color: #fcde13;
	margin-right: 15px;
}
.p_around_park .place_view_slider{
	position: relative;
}
.p_around_park .slider_img{
	height: 330px;
	cursor: pointer;
}
.p_around_park .photo_pick{
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}
.p_around_park .photo_switcher{
	height: 60px;
}
.p_around_park .photo_switcher .photo{
	height: 100%;
	background-color: #000;
}
.p_around_park .photo_switcher .photo img{
	opacity: .5;
	transition: .2s;
}
.p_around_park .photo_switcher .photo:hover img{
	opacity: 1;
} 
.p_around_park .reviews{
	max-width: 740px;
}
.p_around_park .favouritesBtn{
	position: static;
	overflow: hidden;
	margin: 25px 0;
}
.p_around_park .dscrb h2{
	padding-bottom: 20px;
	padding-right: 15px;
	border-bottom: 6px solid #ffce00;
	float: left;
	margin-bottom: 15px;
}
.p_around_park .place{
	margin-bottom: 40px;
}
.for_website .devinne{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: block;
	color: #000;
}
.for_website .devinne:hover{
	text-decoration: underline;
}
.p_around_park .place.to_buy .rating-stars{
	margin-top: 10px;
	display: inline-block;
}
.th_to_buy ul{
	margin-bottom: 30px;
	overflow: hidden;
	max-width: 410px;
}
.th_to_buy ul li{
	width: 50%;
	float: left;
}
.places_section{
	min-height: 900px;
	position: relative;
}
.places_section .blck-title{
	float: left;
}
.places_section .thr-switch{
	height: 45px;
	background-color: #fff;
	width: 450px;
	float: right;
	border-radius: 25px;
}
.places_section .thr-switch .thrd{
	float: left;
	height: 100%;
	width: 33.33%;
	border-radius: 25px;
	background-color: transparent;
    font-family: 'Circular';
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    transition: .2s;
}
.places_section .thr-switch .thrd.active{
	background-color: #333333;
    color: #fff;
    border: 2px solid #fff;
}
.places_section .ex-margin{
	margin-left: 300px;
	margin-bottom: 40px;
	display: flex;
	flex-wrap: wrap;
}
.places_section .ex-margin .box{
	width: 530px;
	padding: 0 15px;
	min-width: 300px;
}
.places_section .filter_cont{
	z-index: 2;
	left: 0;
	width: 290px;
	transition: .2s;
} 
.places_section .place{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	flex-wrap: wrap;
}
.places_section .place::after,
.places_section .content::after{
	content: '';
	display: block;
	clear: both;
}
.places_section .view_map{
	height: 330px;
	position: relative;
}
.places_section .filter{
	min-height: 390px;
	padding: 20px 40px 20px 20px;	
	position: relative;
}
.places_section .filter .cls{
	position: absolute;
	background-color: #000;
	width: 50px;
	height: 50px;
	top: 0px;
	right: -50px;
	background-image: url(../img/icons/filter.png);
	background-position: center;
	cursor: pointer;
	display: none;
}
.places_section .content .photo{
	min-width: 150px;
	width: 40%;
	height: 150px;
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}
.places_section .content .details{
	width: 60%;
	min-width: 300px;
}
.places_section .content .rating-stars{
	margin-top: 15px;
	margin-bottom: 15px;
}


.filter_cont input[type="checkbox"] {
  display:none;
}
.filter_cont input[type="checkbox"] + label {
  display: inline;
  position: relative;
  color: #fff;
  user-select: none;
}
.filter_cont input[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333333;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
  z-index: 10;
}
.filter_cont input[type="checkbox"]:checked + label{
  color:#fcde13;
}
.filter_cont input[type="checkbox"]:checked + label::before {
  background-color: #fcde13;
}
.trips_section{
	overflow:hidden;
}
.trips_section .trip_details{
	margin-bottom: 50px;
	color: #000;
	overflow: hidden;
}
.trips_section .details .day_km{
	display: flex;
	width: 100%;
	margin-bottom: 20px;
}
.trips_section .details .day_km .day{
	margin-right: 30px;
}
.trips_section .details{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.trips_section .details .trip_row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-bottom: 30px;
}
.trips_section .details .trip_row span.devinne{
	width: 30%;
	line-height: 23px;
	margin-bottom: 30px;
}
.trips_section .details .trip_row span.verlagL, 
.trips_section .details .trip_row span.from{
	width: 70%;
}
.trips_section .favouriteBtn{
	position: static;
	float: right;
}
.trips_section .favouriteBtn .add{
	float: right;
	padding: 28px 10px 28px 50px;
    background-position: 16px center;
}
.trip_dscrb .day{
	margin-left: 15px;
}
.trip_dscrb .dest{
	margin-top: 5px;
	margin-bottom: 30px;
}
.trip_dscrb .exp_support{
	margin-bottom: 50px;
}
.com_mem_section::after,
.trip_dscrb .exp_support::after{
	content: '';
	display: block;
	clear: both;
}
.trip_dscrb .exp_support h3{
	margin-top: 15px;
	margin-bottom: 20px;
}
.trip_dscrb .exp_support .ex-padding{
	padding-left: 10px;
	padding-right: 10px;
}
.trip_dscrb .exp_support .photo{
	height: 100px;
}
.trip_dscrb .exp_support p{
	margin-top: 10px;
}
.trip_dscrb .r_attr{
	padding-left: 70px;
}
.trip_dscrb .r_attr .trans_details{
	height: 70px;
	position: relative;
	margin-bottom: -70px;
}
.trip_dscrb .r_attr .trans_details .box{
	margin-bottom: -70px;
	background-color: #ffce00;
	height: 100%;
	float: left;
	padding: 15px;
	min-width: 200px;
	margin-left: -70px;
	font-style: italic;
	font-family: 'Verlag';
	font-size: 16px;
}
.trip_dscrb .trans_details .box .info{
	float: left;
	padding: 9px;
	border-right:1px solid #0000005e;
} 
.trip_dscrb .r_attr{
	margin-bottom: 50px;
}
.trip_dscrb .r_attr .photo{
	height: 345px;
	width: 100%;
}
.trip_dscrb .r_attr .download a{
	display: block;
	width: 260px;
	height: 70px;
	background-color: #ffce00;
	color: #000;
	font-family: 'VerlagBold';
	font-size: 18px;
	line-height: 68px;
	text-transform: uppercase;
	padding-left: 70px;
	background-image: url('../img/icons/download.png');
	background-position: 24px center;
}
.trip_dscrb .trans_details .tr_by{
	float: left;
	margin-left: 5px;
}
.trip_dscrb .trans_details .tr_by .icon{
	width: 25px; 
	height: 25px;
	float: left;
	display: block;
	margin: 9px;
	background-position-x:center;
	background-image: url('../img/icons/trans-by.png'); 
}
.trip_dscrb .trans_details .tr_by .man{
	background-position-y: -109px;
    background-size: 22px;
}
.trip_dscrb .trans_details .tr_by .horse{
	background-position-y:0px; 
}
.trip_dscrb .trans_details .tr_by .car{
	background-position-y:-45px; 
}
.trip_dscrb .trans_details .tr_by .bus{
	background-position-y:-89px; 
}

.trip_dscrb .trans_details .tr_by .atv{
	background-image: url('../img/icons/atv.png');
	width: 40px;
}
.trip_dscrb .trans_details .tr_by .hiking{
	background-image: url('../img/icons/hiking.png');
	height: 30px;
}

.trip_dscrb .trans_details .tr_by .bike{
	background-image: url('../img/icons/bike.png');
	width: 40px;
}

.trip_dscrb .trans_details .tr_by .boat{
	background-image: url('../img/icons/boat.png');
	width: 60px;
	margin-top: 13px;
}

.com_mem_section .reviews .add_review{
	border: 1px solid #ccc;
}
.com_mem_section .reviews .comments{
	max-height: 600px;
}
.downloadable{
	position: absolute;
	bottom: 20px;
	z-index: 2;
	display: block;
	left: 15px;
	border:5px solid #000;
	padding: 6px 10px 2px 10px;
	color: #fff;
	text-transform: uppercase;
	transition: .2s;
	background-color: #000;
}
.downloadable:hover{
	color: #fcde13;
	border-color: #fcde13;
}
.guide_cont .guidelines ul{
	padding-left: 20px;
}
.guide_cont .guidelines ul li{
	position: relative;
}
.guide_cont .guidelines ul li::before{
	content: '•';
	color: #fcde13;
	font-size: 30px;
	position: absolute;
	left: -20px;
	top: 5px;
	line-height: 10px;
}
.guide_cont .box{
	padding-bottom: 70px;
	position: relative;
}
.guide_cont .box .date{
	position: absolute;
	height: 70px;
	width: 30%;
	right: 0;
	bottom: 0;
	padding-top: 10px;
	text-align: center;
}
.guide_cont .box .date p{
	margin: 0;
}
.guide_cont .box .txt{
	border-top: 6px solid #fcde13;
	width: 70%;
	padding: 10px;
	min-height: 110px;
	margin-top: -70px;
	position: relative;
	position: absolute;
    bottom: 0;
    left: 0;
    font-size: 30px;
}
.guide_cont .box .txt a{
	position: absolute;
	top: 50%;
	color: #fff;
	left: 50%;
	width: 100%;
	padding: 0px 10px;
	transform: translate3d(-50%,-50%,0);
}
.guide_cont .box .photo{
	height: 255px;
}
.guide_cont .em_num{
	background-color: #e53c40;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;
}
.guide_cont .em_num .e_call{
	font-size: 70px;
    font-style: italic;
    float: left;
    line-height: 48px;
    margin-right: 30px;
}
.guide_cont .em_num .e_t{
	display: inline-block;
}
.guide_cont .downloadables .d_link{
	height: 80px;
	background-color: #666666;
	background-image: url('../img/icons/dwnld.png');
	background-position: 20px center;
	background-size: 40px;
	line-height: 80px;
	font-size: 20px;
	padding-left: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-wrap;	
}
.guide_cont .downloadables .d_link:active{
	background-image: url('../img/icons/download.png');
}
.buy_tkt_cont{
	min-height: 765px;
	padding-top: 70px;
}
.buy_tkt_cont .des_park select{
	width: 100%;
	height: 50px;
	border: 1px solid #ccc;
	background-image: url('../img/icons/s-arrow.png');
	background-position: right 15px center;
	-webkit-appearance: none;
	padding: 0 15px;
	font-family: 'Devinne';
	font-size: 18px;
	margin-bottom: 40px;
}
.buy_tkt_cont .des_park select option{
	padding: 15px;
}
.buy_tkt_cont .data{
	max-width: 60%;
}
.buy_tkt_cont .val_count{
	float: right;
	width: 150px;
	max-width: 40%;
	height: 50px;
	border: 1px solid #ccc;
	position: relative;
}
.buy_tkt_cont .val_count span{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: 45px;
	height: 45px;
	line-height: 35px;
	text-align: center;
	transform: translateY(-50%);
	cursor: pointer;
	font-size: 50px;
	color: #ccc;
	display: block;
	user-select: none;
	font-family: 'VerlagLight';
}
.buy_tkt_cont .val_count input[type="number"]{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	-webkit-appearance: none;
	text-align: center;
	font-size: 30px;
	font-family: 'Devinne';
}
.buy_tkt_cont .val_count input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance: none;
	outline: none;
	}
.buy_tkt_cont .val_count .mns{
	left: 0px;
}
.buy_tkt_cont .val_count .pls{
	right: 0px;
}
.buy_tkt_cont .checkout_box{
	background-color: #000;
	min-height: 205px;
	position: relative;
	overflow: hidden;
	margin-bottom: 50px;
}
.buy_tkt_cont .checkout_box .sum{
	font-size: 35px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 70px;
	font-family: 'Devinne';
}
.buy_tkt_cont .checkout_box button{
	padding: 10px 15px;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}
.blck_nav{
	height: 200px;
	position: relative;
	z-index: 100;
}
.blck_nav::after{
	content: '';
	display: block;
	clear: both;
}
.blck_nav .in_box{
	border:1px solid #1a1a1a;
	padding: 15px 20px;
	width: 25%;
	float: left;
	height: 200px;
	position: relative;
	z-index: 2;
	transition: .2s;
}
.blck_nav .in_box a{
	position: absolute;
	bottom: 15px;
	left: 50%;
	width: 60%;
	max-width: 190px;
	font-family: 'VerlagBook';
	transform: translateX(-50%);
	opacity: 0;
}
.blck_nav .in_box:hover{
	margin-top: -35px;
	height: 270px;
	margin-bottom: -70px;
	z-index: 3;
	transition: margin .2s, height .2s .1s;
}
.blck_nav .in_box:hover a{
	transition: .2s .2s;
	opacity: 1;
}
.blck_nav .in_box .title{
	padding:15px 0px 15px 70px;
	overflow:hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-position: left -60px;
}
.blck_nav .in_box:hover .title{
	color: #fcde13;
	background-position: left 0px;
}
.blck_nav .in_box .txt{
	font-family: 'devinne';
	max-height: 85px;
	overflow:hidden;
	font-size: 16px;
}
.blck_nav .in_box:nth-child(1) .title{
	background-image: url(../img/icons/ticket.png);
}
.blck_nav .in_box:nth-child(2) .title{
	background-image: url(../img/icons/bus.png);
}
.blck_nav .in_box:nth-child(3) .title{
	background-image: url(../img/icons/book.png);
}
.blck_nav .in_box:nth-child(4) .title{
	background-image: url(../img/icons/map.png);
}
.blck_nav .in_box:nth-child(5) .title{
	background-image: url(../img/icons/info.png);
}
.adventure-nav::after{
	content: '';
	display: block;
	clear: both;
}
.adventure-nav .my-adventure-cont{
	min-height: 765px;
	position: relative;
}
.adventure-nav .bg{
	width: 15%;
	height: 765px;
	float: left;
	position: relative;
}
.adventure-nav .bg img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.adventure-nav .bg .y-title{
	transform: rotate(-90deg);
    bottom: 0;
    left: 40px;
    transform-origin: left;
}
.adventure-nav .dscrb{
	width: 60%;
	padding:30px 50px;
	min-height: 765px;
	position: relative;
	display: inline-block;
	font-family: 'Devinne';
	display: none;
}
.adventure-nav .dscrb .article{
	margin-bottom: 120px;
}
.adventure-nav .dscrb.active{
	display: inline-block;
}
.adventure-nav .dscrb{
	font-size: 17px;
}
.adventure-nav .dscrb p{
	max-height: 240px;
	overflow-y: hidden;
}
.adventure-nav .b-title{
	margin-bottom: 20px;
}
.adventure-nav .adv-nav{
	width: 25%;
	min-height: 765px;
	float: right;
	background-color: #fff;
	font-size: 30px;
	color: #000;
	position: relative;
}
.adventure-nav .adv-nav ul{
	margin-bottom: 0;
}
.geo_adventures .adv-nav ul,
.main_adventures_nav .adv-nav ul{
	max-height: 765px;
	position: relative;
	box-shadow: inset -10px -10px 20px -14px rgba(0,0,0,0.5);
}
.geo_adventures .adv-nav ul .mCSB_scrollTools,
.main_adventures_nav .adv-nav ul .mCSB_scrollTools{
	left: 0;
}
.nat_slider{
	position: relative;
}
.nat_slider .l_arrw,
.sld_cont .l_arrw,
.nat_slider .r_arrw,
.sld_cont .r_arrw{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    cursor: pointer;
    background-position: center;
}
.nat_slider .r_arrw,
.sld_cont .r_arrw{
    background-image: url(../img/icons/b-rArrow.png);
	right: 95px;
}
.nat_slider .l_arrw,
.sld_cont .l_arrw{
    background-image: url(../img/icons/b-lArrow.png);
	left: -105px;
}
.nat_slider .r_arrw{
	right: 10px;
}
/*---adventure btn---*/
.resBtn{
	position: absolute;
	left: 10px;
	top: 20px;
	width: 30px;
	height: 20px;
	cursor: pointer;
	display: none;
	z-index: 2;
}
.resBtn span{
	display: block;
	width: 100%;
	height: 2px;
	background-color: #000;
	position: absolute;
	transition: .5s;
}
.resBtn .top-line{
	top: 0;
}
.resBtn .ex-midd-line,
.resBtn .midd-line{
	top: 50%;
	transform: translateY(-50%);
}
.resBtn .bott-line{
	bottom: 0;
}
.resBtn.active .top-line{
	top: -15px;
	opacity: 0;
}
.resBtn.active .ex-midd-line{
	transform: translateY(-50%) rotate(45deg);
}
.resBtn.active .midd-line{
	transform: translateY(-50%) rotate(-45deg);
}
.resBtn.active .bott-line{
	bottom: -15px;
	opacity: 0;
}
/*---adventure btn end---*/
.adventure-nav .avail{
	margin-top: 40px;
}
.adventure-nav .avail .sortBtn{
	margin-bottom: 10px;
}
.adventure-nav .adv-nav::after{
	content: '';
	position: absolute;
	bottom: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: #fff;
	z-index: 2;
}
.adventure-nav .adv-nav ul li{
	cursor: pointer;
	user-select: none;
	padding: 30px 20px 30px 55px;
	transition: .2s;
	text-transform: capitalize;
	position: relative;
}
.adventure-nav .adv-nav ul li.active,
.adventure-nav .adv-nav ul li:hover{
	background-color: #f4f4f4;
	color: #999;
}
.adventure-nav .adv-nav ul li::after{
    content: '';
    position: absolute;
    height: 0px;
    bottom: 0;
    width: 90%;
    left: 50%;
    border-bottom: 3px solid transparent;
    transform: translateX(-50%);
    border-image: url(../img/icons/border.png) 4;
}
.adventure-nav .photos{
	margin-top: 20px;
	margin-left: -100px;
	overflow-y: hidden;
}
.adventure-nav .photos .photo{
	width: 100%;
	height:185px;
	padding: 15px;
	position: relative;
}
.adventure-nav .photos .photo::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	width:calc(100% - 30px);
	height:calc(100% - 30px);
	background-color: #000;
	opacity: 0;
	transition: .2s;
}
.adventure-nav .photos .photo:hover::after{
	opacity: .6;
}
.aLink{
	transition: .2s;
	opacity: 0;
	z-index: 2;
}
.aLink a{
	color: #fcde13;
	text-align: center;
}
.aLink a h3{
	font-size: 17px;
}
.adventure-nav .photos .photo:hover .aLink{
	opacity: 1;
}
/*---footer---*/
#footer{
	min-height: 390px;
	height: auto;
	width: 100%;
	overflow: hidden;
}
#footer ul{
	overflow: hidden;
}
#footer .t-up{
	font-family: 'VerlagBold';
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#footer li{
	margin-bottom: 5px;
}
#footer li.seeAll a{
	color: #fff;
}
#footer li.seeAll a:hover{
	color: #fcde13;
}
#footer li a{
	font-family: 'devinne';
    font-size: 14px;
    color: #6e7178;
    text-transform: capitalize;
    transition: .2s;
}
#footer li a:hover{
	color: #fff;
}
#footer .partners .icon{
	float: left;
	width: 33.33%;
	height: 120px;
	padding: 5px;
}
#footer .partners .icon img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}
#footer .partners .rMoreBtn{
	width: 160px;
}
#footer .footer-col{
	float: left;
	padding-top: 45px;
	padding-bottom: 15px;
	padding: 45px 10px 15px 10px;
}
#footer .l-col{
	width: 40%;
}
#footer .m-col{
	width: 30%;
	min-height: 390px;
	padding-left: 15px;
	padding-right: 15px;
}
#footer .m-col .rMoreBtn{
	width: 180px;
	margin-bottom: 15px;
}
#footer .r-col{
	width: 30%;
	padding-left: 15px;
}
#footer .r-col .t-up{
	font-family: 'VerlagLight';
}
#footer .r-col input{
	font-size: 17px;
	padding: 14px 20px;
	float: left;
	height: 48px;
	width: 60%;
	border-radius: 0;
	max-width: 300px;
	font-family: 'devinne';
}
#footer .r-col button.t-up{
	padding:14px 20px;
	margin-left: 10px;
}
#footer .r-col p{
	font-size: 16px;
	font-family: 'VerlagLight';
	color: #6e7178;
}
#footer .r-col p a{
	color: #6e7178;
	text-decoration: underline;
	margin-left: 5px;
}
#footer .r-col .follow_us{
	margin-top: 30px;
}
#footer .r-col .follow_us p{
	color: #fff;
	font-size: 15px;
}
.socials .social{
	width: 20px;
	height: 20px;
	display: block;
	margin-right: 5px;
	float: left;
	background-image: url(../img/social/soc-min.png);
	opacity: .5;
	transition: .2s;
}
.socials .social:hover{
	opacity: 1;
}
.socials .social.i-fb{
	background-position-y: 0px;
}
.socials .social.i-twitter{
	background-position-y:-22px; 
}
.socials .social.i-vk{
	background-position-y:-45px; 
}
.socials .social.i-insta{
	background-position-y:-67px; 
}
.socials .social.i-youtube{
	background-position-y:-89px; 
}
.socials .social.i-pinterest{
	background-position-y:-112px; 
}
/*---footer end---*/



/*---userside---*/
.t-u-line:hover,
.t-u-line{
	text-decoration: underline;
}
.m-420-wdth{
	max-width: 420px;
}
.ui_container .b-1-b{
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
}
.ui_container{
	padding: 25px 15px 75px 15px;
	position: relative;
	min-height: 450px;
}
.ui_container .b_rght{
	padding-right: 30px;
	border-right: 1px solid #eee;
}
.ui_ttl_sm,
.ui_ttl{
	font-family: 'VerlagBold';
	color: #000;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.ui_ttl_sm{
	font-size: 20px;
	margin-bottom: 10px;
}
.ui_sttl{
	font-family: 'Devinne';
	color: #000;
	font-size: 14px;
	font-weight: lighter;
}
label.ui_sttl{
	margin-bottom: 10px;
}
.ui_container .l_nav{
	width:25%;
	float: left;
	margin-bottom: 30px;
}
.ui_container::before,
.ui_container::after{
	content: '';
	display: block;
	clear: both;
}
.ui_container .l_nav ul{
	margin-right: 30px;
	margin-left: -15px;
	width: 290px;
}
.ui_container .l_nav ul a{
	height: 70px;
	display: block;
	font-size: 20px;
	background-color: #000;
	font-family: 'VerlagBold';
	text-transform: uppercase;
	padding: 22px 25px 25px 25px;
	transition: .2s;
	color: #fff;
}
.ui_container .l_nav ul a:hover,
.ui_container .l_nav ul a.active{
	background-color: #fcde13;
	color: #000;
}
.ui_container input.nm,
.ui_container input.id,
.ui_container input.pss,
.ui_container input.phn,
.ui_container input.ml{
	margin-bottom: 20px;
	border: 1px solid #eee;
	height: 50px;
	padding: 12px 43px;
	font-size: 16px;
	background-image: url(../img/icons/inp-i.png);
	background-position-x: 10px;
	display: block;
	width: 100%;
}
.ui_container input:-webkit-autofill{
	padding-left: 12px; 
}
.ui_container .content{
	width: 25%;
	float: left;
	margin-bottom: 30px;
}
.ui_container .content-md,
.ui_container .content-lg{
	width: 75%;
	float: left;
	margin-bottom: 30px;
}
.ui_container .ml{
	background-position-y:15px; 
}
.ui_container .pss{
	background-position-y:-50px; 
}
.ui_container .id{
	background-position-y:-198px; 
}
.ui_container .phn{
	background-position-y:-118px; 
}
.ui_container input.nm{
	background-image: none;
	padding: 12px;
}
.ui_container .ch_list{
	margin-bottom: 20px;
}
.ui_container .ch_list input[type="checkbox"] {
	display:none;
}
.ui_container .ch_list input[type="checkbox"] + label {
	display: inline;
	position: relative;
	cursor:pointer;
	user-select: none;
}
.ui_container .ch_list input[type="checkbox"] + label::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	vertical-align: middle;
	margin-right: 15px;
	cursor: pointer;
	z-index: 10;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 0px;
	transition: .1s;
}
.ui_container .ch_list input[type="checkbox"]:checked + label::before{
	background-image: url('../img/icons/ch-i.png');
	background-size: 13px;
}
.ui_container .authBtn{
	width: 169px;
	height: 50px;
	float: left;
	line-height: 50px;
	color: #000;
	font-size: 15px;
	font-family: 'VerlagBold';
	background-color: #fcde13;
	text-transform: uppercase;
	text-align: center;
	transition: .2s;
	margin-right: 30px;
	margin-bottom: 10px;
}
.ui_container .authBtn:hover{
	background-color: #e8cd13;
}
.ui_container .rec_pass{
	color: #000;
	font-family: 'VerlagBold';
	font-size: 14px;
	text-transform: uppercase;
}
.ui_container .rec_pass:hover{
	text-decoration: underline;
}
.ui_container .alternate_login{
	width: 50%;
	padding:0 15px;
	float: left;
}
.ui_container .alternate_login a{
	max-width: 244px;
	min-width: 200px;
	height: 70px;
	background-image: url(../img/icons/f-g.png);
	background-position-x: 18px;
	margin-bottom: 10px; 
	border-radius: 3px;
	padding-left: 60px;
    line-height: 70px;
    transition: .2s;
    display: block;
    font-family: 'Verlag';
    position: relative;
    color: #fff;
    opacity: 1;
    overflow:hidden;
}
.ui_container .alternate_login a::after{
	content: '';
	position: absolute;
	width: 260px;
	height: 260px;
	left: -260px;
	bottom: -260px;
	transition: .2s;
	border-radius: 50%;
}
.ui_container .alternate_login a:hover::after{
	top: 50%;
	left: 50%;
	animation: hoversoc .5s linear 1;
	transform: translate3d(-50%,-50%,0);
}
.loginDiv.reg_in{
	display: none;
}
.ui_container .alternate_login .block{
	font-size: 18px;
	color: #fff;
}
.ui_container .alternate_login .fb_log{
	background-color: #39579b;
	background-position-y:24px;
}
.ui_container .alternate_login .insta_log{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.ui_container .alternate_login .insta_log .insta{
	position: absolute;
	width: 20px;
	height: 20px;
	left: 18px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url(../img/icons/f-g.png);
	background-position-y: -184px; 
}
.ui_container .alternate_login .y_log{
	background-color: #ff0000;
	background-position-y: -220px;
} 
.ui_container .alternate_login .p_log{
	background-color: #bd081c;
	background-position-y: -284px;
}
.ui_container .subBtn,
.ui_container .subsDeny{
	background-color: #000;
    float: left;
    height: 50px;
    width: 169px;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    font-family: 'VerlagBold';
    text-transform: uppercase;
    text-align: center;
    transition: .2s;
	font-family: 'VerlagBold';
}
.ui_container .subsDeny:hover{
	background-color: #fcde13;
	color: #000;
}
.ui_container .subBtn:hover{
	background-color: #fcde13;
	color: #000;
}
.ui_container .alternate_login .subsBtn{
	background-color: #fcde13;
	transition: .2s;
	background-image: none;
	text-align: center;
	padding-left: 0;
	color: #000;
	font-size: 20px;
}
.ui_container .alternate_login .subsBtn:hover{
	background-color: #e8cd13;
}
.ui_container .alternate_login .googl_log{
	background-color: #4285f4;
	background-position-y:-34px;
} 
.ui_container .alternate_login .twitter_log{
	background-position-y:-97px;
	background-color: #4285f4;
	padding-left: 45px;
	color: #fff;
}
.ui_container .change_photo{
	height: 50px;
}
.ui_container .change_photo .photo{
	width: 50px;
	height: 50px;
	float: left;
	border-radius: 50%;
	margin-right: 30px;
}
.ui_container .change_photo .authBtn{
	padding:0 15px;
}
.ui_container .video_gallery .nm{
	width: 80%;
	margin-right: 15px;
}
.ui_container .video_gallery .authBtn{
	margin-right: 0;
	width: 18%;
	padding:0 15px;
	float: left;
	min-width: 130px;

} 
.birth_d .rw{
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 20px;
}
.birth_d .rw::before,
.birth_d .rw::after{
	content: '';
	display: block;
	clear: both;
}
.birth_d .wrpr{
	float: left;
	width: 33.33%;
	padding: 0px 5px;
}
.mem_opt{
	max-width: 800px;
}
.mem_opt select{
	margin-bottom: 20px;
}
.mem_opt select,
.birth_d select{
	width: 100%;
	height: 50px;
	padding: 10px;
	font-size: 14px;
	font-family: 'Devinne';
	border: 1px solid #eee;
    background-image: url(../img/icons/s-arrow.png);
    background-position: right 15px center;
    -webkit-appearance: none;
}
.rd_btns{
	min-height: 50px;
	margin-bottom: 20px;
	font-family: 'VerlagBold';
	text-transform: uppercase;
	padding: 15px 0;
}
.rd_btns label{
	display: block;
	float: left;
	padding-left: 25px;
	cursor: pointer;
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.rd_btns input{
	display: none;
}
.rd_btns .bullet{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	border:1px solid #ccc;
	transition: .2s;
}
.rd_btns label .bullet::after{
	content: '';
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	opacity: 0;
}
.note-editable{
	padding-top: 80px; 
}
.rd_btns label:hover .bullet{
	background-color: #eee;
}
.rd_btns label.active .bullet::after{
	opacity: 1;
	transition: .2s;
}
.mem_opt .postBox{
	display: none;
}
.mem_opt .postBox.active{
	display: block;
}
.mem_opt .wr_memory{
	width: 100%;
	resize: none;
	padding: 10px;
	border:none;
	margin-bottom: 20px;
}
.note-editor.note-frame.panel{
	border-radius: 0;
	border-color: #ccc;
}
.mem_opt .img_placeholder{
	max-width: 300px;
	margin-right: 15px;
	width: 50%;
	border:1px solid #eee;
	padding: 12px;
	min-height: 50px;
	margin-bottom: 20px;
}
.mem_opt .img_placeholder p{
	margin: 0;
	font-family: 'VerlagBold';
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mem_opt .chs_file{
	display: flex;
}
.mem_opt .chs_file input[type="file"]{
	display: none;
}
.mem_opt .chs_file input[type="text"]{
	background-color: transparent;
}
.mem_opt .chs_file a{
	padding: 0;
	width: 50%;
	max-width: 100px;
	margin: 0;
}
.my_mem{
	padding-bottom: 0;
}
.my_mem .m_cont .comment h4{
	border-top: 6px solid #fcde13;
	padding: 15px;
	margin-top: 0;
	margin-bottom: 20px;
}
.m_memory_page .m_cont .comment{
	background-color: transparent;
	padding: 0px 0px 10px 5px;
	min-height: 100px;
}
.m_memory_page .m_cont .comment .rejected{
	color: #fa5654;
}
.m_memory_page .m_cont .comment .published{
	color: #8cc63e;
}
.m_memory_page .ui_ttl{
	float: left;
}
.m_memory_page .w_new_memory{
	float: right;
	height: 45px;
	width: 160px;
	border-radius: 30px;
	display: block;
	background-color: #f4f4f4;
	text-transform: uppercase;
	line-height: 48px;
	color: #000;
	font-family: 'Verlag';
	font-size: 14px;
	text-align: center;
	padding: 0px 15px;
	transition: .2s;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	animation: shadow 1s infinite;
}
.m_memory_page .w_new_memory:hover{
	background-color: #333333;
	color: #fff;
}
.favorites_page .f_content{
	display: none;
}
.favorites_page .f_content{
	font-family: 'devinne';
}
.favorites_page .f_content.active{
	display: block;
}
.favorites_page .f_sort{
	float: right;
	min-height: 45px;
	background-color: #f4f4f4;
	border-radius: 30px;
	padding: 0px 20px;
	border:2px solid #f4f4f4;
	display: flex;
	justify-content: space-between;
}
.favorites_page .ui_ttl{
	float: left;
}
.favorites_page .f_sort li:first-child{
	margin-left: -20px;
}
.favorites_page .f_sort li:last-child{
	margin-right: -20px;
}
.favorites_page .f_sort li{
	height: 45px;
	color: #333;
	padding:0px 20px;
	line-height: 45px;
	border-radius: 30px;
	font-family: 'Verlag';
	text-transform: uppercase; 
	cursor: pointer;
	transition: .2s;
	user-select: none;
}
.favorites_page .f_sort li.active{
	background-color: #333;
	color: #fff;
}
.user_profile{
	padding: 20px 0 50px 0px;
}
.user_profile .user_about{
	padding-left: 95px;
	padding-top: 10px;
	min-height: 80px;
	margin-bottom: 20px;
}
.user_profile .user_about .avatar{
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	background-color: #fcde13;
}
.user_profile .user_data{
	margin-top: 20px;
}
.user_profile .list_parks a{
	text-decoration: underline;
}
.user_profile .list_parks a:hover{
	text-decoration: none;
}
.terms_popup{
	background: #fff;
	padding: 40px 15px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -100px;
	z-index: 1003;
	width: 90%;
	min-height: 80vh;
	display: none;
	font-family: 'Devinne';
}
.termsBg{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1002;
	display: none;
}
.termsBg.active{
	display: block;
}
/*---TAGS---*/
.tag_container{
	min-height: 50px;
	margin-bottom: 20px;
	padding: 12px;
	border:1px solid #eee;
}
.tkt_cont{
	margin-bottom: 20px;
}
.used_tkt{
	margin-top: 30px;
}
.used_tkt .tkt{
	opacity: .5;
}
.tkt_cont .tkt{
	min-height: 150px;
	border:1px solid #eee;
	padding: 20px;
}
/*---TAGS END---*/

/*---userside end---*/


/*---22/05/18---*/
.ev_inner .details{
	padding: 15px;
	background-color: #1a1a1a;
	color: #fff;
	margin-bottom: 30px;
}
.ev_inner .details::after{
	content: '';
	display: block;
	clear: both;
}
.ev_inner .details .txt{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.ev_inner .details > div{
	width: 33.33%;
	float: left;
}
.ev_inner .dscrb{
	font-family: 'Georgia';
	font-size: 16px;
}
.ev_inner .ev_photo{
	height: 400px;
	margin-bottom: 30px;
	width: 100%;
}
/*---22/05/18---*/

.authBtn.delete-alert{
	background: #fc4913 !important;
	color: #fff;
}
.buy_tkt_cont{
	padding-bottom: 50px;
}
.buy_tkt_cont .dscrb_txt{
	font-family: 'devinne';
	margin-bottom: 70px;
	font-size: 16px;
}
.buy_tkt_cont .dscrb_txt p{
	margin: 0;
}
.counter_container{
	max-width: 600px;
	border-right: 1px solid #ccc;
	padding-right: 20px;
	margin-bottom: 40px;
}
.buy_tkt_cont .checkout_box{
	max-width: 250px;
	margin: 0 auto;
}
.datePicker{
	font-family: 'Devinne';
}
.paid_sub_ttl{
	margin-bottom: 30px;
	margin-top: 30px;
}
._ex.sortBtn{
	margin-bottom: 60px;
}
.my-current-park-item.active{
	display: block;
}
.my-current-park-item{
	display: none;
}


/*pricelist*/
.price_img_container{
}
.price_img_container .price_img{
	width: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;
}
.price_img_container .price_img img{
	width: 100%;
	height: auto;
}
/*pricelist*/

.slider-yt-box{
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.slider-yt-box iframe.yt-box{
	background: transparent;
	position: absolute;
}
.ytplayer-container{
	position: absolute;
	z-index: -1;
}
.gm-style .gm-style-mtc div{
	left: 0!important;
	right: unset!important;
}
/*---404 style---*/
.page-404{
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 15px;
}
.page-404 .logo{
	display: inline-block;
    height: 80px;
    width: 260px;
    background-image: url(../img/404-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px 0;
}
.page-404 p,
.page-404 h1{
	margin: 0;
	color: #222;
}
.page-404 h1{
    font-family: 'verlagBold','verdana', 'roboto','sans-serif';
	font-size: 60px;
}
.page-404 p{
	font-size: 20px;
    font-family: 'devinne','verdana', 'roboto','sans-serif';
}
.page-404 div a{
	font-size: 16px;
    text-transform: uppercase;
    transition: .2s;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-family: 'verlagBold';
    margin: 150px 0 50px 0;
    color: #222;
    background-color: #ffffffad;
    border: 5px solid #fcde13;
}
.page-404 div a:hover{
	background-color: #fcde13;
}
.layout_404{
	width: 100%;
	height: 100vh;
	position: fixed;
	z-index: -1;
}
.layout_404 #bg-layer{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%,-50%,0);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center right, center center;
	background-repeat: no-repeat;
}
.layout_404 #bg-layer[data-bg='i-1']{
	background-image: url('../img/404/1.png'), url('../img/404-bg/i-1.jpg');
}
.layout_404 #bg-layer[data-bg='i-2']{
	background-image: url('../img/404/2.png'), url('../img/404-bg/i-2.jpg');
}
.layout_404 #bg-layer[data-bg='i-3']{
	background-image: url('../img/404/3.png'), url('../img/404-bg/i-3.jpg');
}
.layout_404 #bg-layer[data-bg='i-4']{
	background-image: url('../img/404/4.png'), url('../img/404-bg/i-4.jpg');
}
.layout_404 #bg-layer[data-bg='i-5']{
	background-image: url('../img/404/5.png'), url('../img/404-bg/i-5.jpg');
}
.layout_404 #bg-layer[data-bg='i-6']{
	background-image: url('../img/404/6.png'), url('../img/404-bg/i-6.jpg');
}
.layout_404 #bg-layer[data-bg='i-7']{
	background-image: url('../img/404/7.png'), url('../img/404-bg/i-7.jpg');
}
.layout_404 #bg-layer[data-bg='i-8']{
	background-image: url('../img/404/8.png'), url('../img/404-bg/i-8.jpg');
}
.layout_404 #bg-layer[data-bg='i-9']{
	background-image: url('../img/404/9.png'), url('../img/404-bg/i-9.jpg');
}
.layout_404 #bg-layer[data-bg='i-10']{
	background-image: url('../img/404/10.png'), url('../img/404-bg/i-10.jpg');
}
.layout_404 #bg-layer[data-bg='i-11']{
	background-image: url('../img/404/11.png'), url('../img/404-bg/i-11.jpg');
}
.layout_404 #bg-layer[data-bg='i-12']{
	background-image: url('../img/404/12.png'), url('../img/404-bg/i-12.jpg');
}
.layout_404 #bg-layer[data-bg='i-13']{
	background-image: url('../img/404/13.png'), url('../img/404-bg/i-13.jpg');
}
.layout_404 #bg-layer[data-bg='i-14']{
	background-image: url('../img/404/14.png'), url('../img/404-bg/i-14.jpg');
}
.layout_404 #bg-layer[data-bg='i-15']{
	background-image: url('../img/404/15.png'), url('../img/404-bg/i-15.jpg');
}
/*---------------*/